body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Custom Styles for all sub-sites
-----------------------------------------------------------*/

.tableborders {
    border-color: #a9a9a9;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    padding: 0;
}

.headerborders {
    background-color: rgb(234, 234, 234);
    border-color: #808080;
    border-width: 1px;
    border-style: solid;
}

.cellborders {
    border-color: #a9a9a9;
    border-width: 1px;
    border-style: solid;
}

.alternatingColors:nth-child(odd) {
    background-color: #ddd;
}

.sectionTitle {
    border-bottom-color: #aaa;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 150%;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    margin-bottom: 0.6em;
}

.PercentWidth100 {
    width: 100%;
}

.PercentWidth50 {
    width: 50%;
}

.AlignedRight {
    text-align: right;
}

.AlignedMiddle {
    vertical-align: middle;
}
.headerImg {
    border: 0px;
    width: 64px;
    height: 64px;
    vertical-align: middle;
}

.headerandlogo {
    vertical-align: middle;
    /*border-bottom: 1px solid #000000;*/
    background-color: #F3F3F3;
}

.headerText {
    color: #000000;
    text-decoration: none;
    font-size: 16pt;
    font-weight: bold;
}

.contentFrame {
    background-color: #F3F3F3;
    outline-offset: 0px;
}

a
{
    color:blue;
}
a:hover
{
    color:darkblue;
}

.toptr {
    vertical-align: top;
}

.sideBar {
    width: 15%;
    /*border-right: 1px solid #000000;
    border-bottom: 1px solid #F3F3F3;
    background-color: #F3F3F3;*/
}

.contentMain {
    background-color: #FFFFFF;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.25em;
    /* background-position: top left;
    background-image: url('images/border.png');
    background-repeat: repeat-x;*/
    border-top: 1px solid rgb(167, 215, 249);
    border-left: 1px solid rgb(167, 215, 249);
    border-bottom: 1px solid rgb(167, 215, 249);
    display: block;
}

.topBlueBorder {
    background-position: top left;
    background-image: url('images/border.png');
    background-repeat: repeat-x;
    display: block;
}

.footer {
    font-size: 8pt;
    text-align: center;
}

.BreadCrumbs {
    font-size: 9pt;
}

.tableofcontents {
    background-color: rgb(249, 249, 249);
    border-color: #aaa;
    border-style: solid;
    border-width: 1px;
    color: black;
    padding: 5px 5px 5px 5px;
    font-size: 9pt;
    line-height: 1.5em;
}

.tableofcontentsitem {
    list-style-type: none;
    text-align: left;
}

.bulletedList li {
    /*background-image: url('images//bullet.gif'); */
    background-repeat: no-repeat;
    background-position: 0 .4em;
    padding-left: .9em;
}

/* Guitar Tab Specific
-----------------------------------------------------------*/
.ArtistSideBar {
    font-size: 9pt;
}

.pageTitle {
    border-bottom-color: #aaa;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 200%;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    margin-bottom: 0.6em;
}

.sectionTitle {
    border-bottom-color: #aaa;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 150%;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    margin-bottom: 0.6em;
}

Pre {
    font-size: 9pt;
}