@*@{
        ViewBag.Title = "Steam is down...";
        Layout = "~/Views/Shared/_Layout.cshtml";
        int count = 0;
        string totalTime = "";
    }*@

<h2 class="sectionTitle"><b>Steam appears to be down... :(</b></h2>

<span>Check <a href="https://SteamStat.us" target="_blank">SteamStat.us</a> for more details</span>
<br />
@*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- SamSmithNZSteam -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2315986579277492"
         data-ad-slot="1982797969"
         data-ad-format="auto"></ins>
    <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
    </script>*@


