@using SSNZ.DevOps.Web.Models
@{
    ViewBag.Title = "DevOps Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">DevOps</li>
        </ul>
    </div>
</div>

<div class="jumbotron JumboTronAppStack">
    <h1>
        <span class="glyphicon glyphicon-wrench text-primary GlyphAlignment"></span>
        <strong class="text-danger">DevOps<sup class="DevOpsBetaTag">BETA</sup></strong>&nbsp;<small>automated builds and deployment documentation</small>
    </h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <img src="~/images/DevOps/Overview/DevOpsBanner.jpg" class="DevOpsBanner" />
            <img src="~/images/DevOps/Overview/DevOpsBanner.jpg" class="DevOpsBanner" />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body DevOpsIndexBody">
                @Html.Partial("PartialViews/_DevOpsMenu", new DevOpsMenu2ViewModel(null, null, null, null, null))
                <hr />

                <h5><b>FAQ about this DevOps sub-site:</b></h5>
                <b>Is this site using DevOps?</b> Yes! This website was the first Bain application to have a complete DevOps pipeline from development to production!<br />
                <b>Why is this a website? Why is this not in PowerPoint?</b> Good question. This was started in PowerPoint, but there were concerns about how to deliver updates, and as PowerPoint is an offline file, it's possible people could be many versions behind. By centralizing it in a website, this is always up to date!<br />
                <b>Why is this part of AppStack? Does it make sense here?</b> We considered a few different options, and ultimately decided it was ok here, for now. Later it may become it's own site, or AppStack could transform into more of a developer portal... we will see!<br />
                <b>Is this using a Wiki technology?</b> No, it's just plain bootstrapped HTML. I investigated wiki software or utilizing a SharePoint wiki, but installing wiki tech looked overly complex for what this is trying to achieve, all of the Bain SharePoint wiki's are inactive, and I really wanted this to be a example of DevOps - something that required a production build every week or more...<br />
                <b>Why are there so many exclamation marks (!!) on this page?</b> Apologies! Oops, I did it again!!<br />
                <br />
                <b>Forward any other questions to <a href="mailto:sam.smith@bain.com?subject=AppStack/%20DevOps%20questions">Sam</a></b>
            </div>
        </div>
    </div>

</div>
