@{
    ViewBag.Title = "TFS 2015 Parameter Generator Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="devOpsController">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <br /><br />
                    <h4>TFS 2015 Parameter Generator Page</h4>
                    <br />
                    <a href="@Url.Action("CDSetupDeploymentToIIS", "DevOps")">Back to IIS deployment page</a><br /><br />

                    <b>This is a parameter generator to help convert appsettings from the web.config into two outputs, the PowerShell script arguments and XML parameters file.</b> 
                    Paste in all of the "&lt;add key=" lines from between the AppSettings tags into the text box and press the process button to generate the output:<br />

                    <textarea id="txtContent" type="text" value='<add key="webpagesVersion" value="Data" />' class="TFS2015Content" rows="10"></textarea>
                    <input id="btnProcess" type="submit" value="Process parameters" ng-click="getTFS2015Parameters()" /><br /><br />

                    <img src="~/Content/images/spinner.gif" ng-show="loading" />

                    <div ng-show="resultArgument">
                        <b>1. This can be pasted into the "Script Arguments" field in the PowerShell script for SetWebConfigSettings.ps1.</b> <br />
                        <div class="codeHeader lang-html" data-bi-name="code-header">
                            <span class="language">SetWebConfigSettings.ps1 PowerShell argument generator</span>
                            <button class="action" data-bi-name="copy" onclick="selectElementContentsById('txtScriptArguments1')"><svg class="vector-icon" focusable="false" viewBox="0 0 14 14"><path d="M13 6.8V14H4v-3H0V0h5.2l3 3h1L13 6.8zM4 3h2.8l-2-2H1v9h3V3zm8 5H8V4H5v9h7V8zM9 7h2.8L9 4.2V7z"></path></svg> Copy</button>
                        </div>
                        <pre id="txtScriptArguments1">{{resultArgument.Output}}</pre>
                    </div>

                    <img src="~/Content/images/spinner.gif" ng-show="loading" />

                    <div ng-show="resultFile">
                        <b>2. The can be pasted into the parameters.xml file in the web project.</b> <br />
                        <div class="codeHeader lang-html" data-bi-name="code-header">
                            <span class="language">Parameters.xml generator</span>
                            <button class="action" data-bi-name="copy" onclick="selectElementContentsById('txtScriptArguments2')"><svg class="vector-icon" focusable="false" viewBox="0 0 14 14"><path d="M13 6.8V14H4v-3H0V0h5.2l3 3h1L13 6.8zM4 3h2.8l-2-2H1v9h3V3zm8 5H8V4H5v9h7V8zM9 7h2.8L9 4.2V7z"></path></svg> Copy</button>
                        </div>
                        <pre id="txtScriptArguments2">{{resultFile.Output}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>