@{
    ViewBag.Title = "About";
}

<div class="container">
    <br />
    <p>This website is a place for me to learn, experiment and play with new technologies in a public place. I currently have 7 major projects here, with a few more under the radar prototypes and experiments.</p>
    <p>
        <h4>My presence on other websites:</h4>
        <a href="https://linkedin.com/in/samsmithnz/" target="_blank" title="LinkedIn">
            <img src="~/Content/AboutMe/linkedin.png" style="width:128px;" />
        </a>
        <a href="https://www.facebook.com/samsmithnz" target="_blank" title="Facebook">
            <img src="~/Content/AboutMe/facebook.png" style="width:128px;" />
        </a>
        <a href="https://twitter.com/samsmithnz" target="_blank" title="Twitter">
            <img src="~/Content/AboutMe/twitter.png" style="width:128px;" />
        </a>
        @*<a href="https://pinterest.com/samsmithnz/boards/" target="_blank" title="Pinterest">
            <img src="~/Content/AboutMe/pinterest-icon.png" />
        </a>*@
        <a href="https://turnbasedengine.blogspot.com/" target="_blank" title="My Game Development Blog">
            <img src="~/Content/AboutMe/blogger.png" style="width:128px;" />
        </a>
        <a href="https://github.com/samsmithnz/" target="_blank" title="Github">
            <img src="~/Content/AboutMe/github.png" style="width:128px;" />
        </a>
        @*<a href="https://plus.google.com/u/0/+SamSmithNZ" target="_blank" title="GooglePlus">
            <img src="~/Content/AboutMe/gplus-icon.png" />
        </a>
        <a href="https://www.youtube.com/user/samsmithnz/videos" target="_blank" title="YouTube">
            <img src="~/Content/AboutMe/youtube-icon.png" />
        </a>*@
    </p>

    <h4>History</h4>
    <div>
        There have been various versions of the site over the years on various domains.
        <ol>
            <li>1999-2002: SamSmith.co.nz: a basic HTML blog with a cgibin forum. Some static HTML pages were pre-generated with a VB6 application from an Access database</li>
            <li>2003-2009: SamSmith.co.nz: a basic HTML blog with a cgibin forum, with MySQL database and JavaScript navigation.</li>
            <li>2010-2012: SamSmithNZ.com with ASP.NET forms and MSSQL database</li>
            <li>2012-2014: SamSmithNZ.com with ASP.NET MVC4, form based security, and MSSQL database</li>
            <li>2014-2016: SamSmithNZ.com with ASP.NET MVC5, form based security, hosted on Azure PaaS and some AdSense ads on heavy traffic pages</li>
            <li>2017-(now): SamSmithNZ.com with ASP.NET MVC5, form based security, hosted on Azure PaaS, with AngularJS, some Adsense ads, built on a service based architecture (with a mixture of ASP.NET and ASP.NET Core WEBAPI's), deployed with VSTS DevOps</li>
        </ol>
    </div>

    <h4>Statistics</h4>
    <div>
        <b>23</b> projects<br />
        <b>141</b> unit tests<br />
        <b>10</b> MVC controllers<br />
        <b>51</b> web pages<br />
        <b>57</b> database tables<br />
        <b>166</b> stored procedures<br />
        <b>80.72%</b> Maintainability Index (Average of C# code)<br />
        <b>5,281</b> Cyclomatic Complexity<br />
        <b>10,080</b> lines of (C#) code<br />
        <br />
        <b>53</b> <a href="http://projecteuler.net/" target="_blank">Project Euler</a> problems completed<br />
        <b>239</b> guitar tab albums<br />
        <b>3,027</b> guitar tabs<br />
        <b>48</b> international soccer/football tournaments<br />
        <b>932</b> international soccer/football games<br />
        <b>145</b> months of iTunes listening habits<br />
        <b>1219</b> Foo Fighter shows <br />
    </div>

    <h4>The future of KiwiSmith?</h4>
    <img src="~/Content/Images/Logo_Small.jpg" class="AlignedMiddle" />

</div>