<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=tcp:oy6pfttwsx.database.windows.net,1433;Initial Catalog=SamSmithNZ2015_db;User Id=SamDBUser@oy6pfttwsx;Password=SamSmithNZ2015DB!" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
