@{
    Layout = "~/Views/Shared/_LayoutLego.cshtml";
}

<div ng-controller="setController">
    <div class="row">
        <div class="col-md-12">
            <div style="visibility: hidden">
                {"Quantity":4,"ColorId":0,"ColorName":"Light Bluish Gray","PartNum":"2714b","PartName":"Bar 8L - Two Stop Rings / One Pin, Technic Figure Ski Pole [Flat End]","PartCategoryName":"Bars, Ladders and Fences"},
            </div>
            <div class="row">
                <div ng-repeat="item in setParts">
                    <div class="clearfix" ng-if="$index % 12 == 0"></div>
                    <div class="col-sm-1" style="height: 125px;">
                        <b>{{item.Quantity}}x</b><br />
                        <img ng-src="https://ssnzlegopartscdn.azureedge.net/legopartimages/{{item.ColorId}}/{{item.PartNum}}.png" class="img-rounded" style="width:50px;" /><br />
                        {{item.ColorName}}<br />
                        PartNum: {{item.PartNum}}<br />

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>