<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=tcp:samsmithnz.database.windows.net,1433;Initial Catalog=SamSmithNZ2015_db;User Id=SamAdmin;Password=myDrag0n14!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>