@{
    ViewBag.Title = "Steam is down...";
    Layout = "~/Views/Shared/_LayoutSteam.cshtml";
}

<h2 class="sectionTitle"><b>Steam appears to be down... :(</b></h2>

<span>Check <a href="https://SteamStat.us" target="_blank">SteamStat.us</a> for more details</span>
<br />


