@using SamSmithNZ.Service.Models.WorldCup
@using SamSmithNZ.Web.Models.WorldCup
@model MatchupViewModel
@{
    ViewBag.Title = "Matchup details";
    Layout = "~/Views/Shared/_LayoutWorldCup.cshtml";
}

<b>Matchup:</b>
<div class="row">
    <div class="col-md-4">
        Team 1: 
        <ul>
            <li>Team 1 record: </li>
        </ul>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        Team 2: 
        <ul>
            <li>Team 2 record: </li>
        </ul>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Tournament</th>
                <th>Game Time</th>
                <th>Round</th>
                <th>Group Name</th>
                <th></th>
                <th>Score</th>
                <th></th>
                <th>Odds Analysis</th>
                <th>Location</th>
                <th>Coach</th>
            </tr>
            
        </table>
    </div>
</div>
