@using SamSmithNZ.Service.Models.WorldCup
@using SamSmithNZ.Web.Models.WorldCup
@model TeamViewModel
@{
    ViewBag.Title = "World cup stats";
    Layout = "~/Views/Shared/_LayoutWorldCup.cshtml";
}

<h2>World cup stats</h2>

<br />
<br />
Quickest goal: 16 goals have been scored in the first minute

<br />
<br />
<b>Latest goal:</b>
Qatar World Cup 2022: 
England 6 - 2 Iran 
Scorer: Mehdi Taremi  90' +13' (pen)

<br />
<br />
<b>Club with the most players represented:</b>
Barcelona (17 players)

<br />
<br />
<b>Distribution of goals by minute graph:</b>
<img src="~/WorldCup/Stats/GoalDistribution.png" />

<br />
<br />
Group with least number of points (12 is theorical minimum with all games being draws, and 18 maximum - with 6 wins)


<br />
<br />
Number of players with the same birthday. 
Youngest player/team
Oldest player/team


<br />
<br />

<br />
<br />
Biggest upsets
