@using SamSmithNZ.Service.Models.WorldCup
@using SamSmithNZ.Web.Models.WorldCup
@model TeamViewModel
@{
    ViewBag.Title = "World cup stats";
    Layout = "~/Views/Shared/_LayoutWorldCup.cshtml";
}

<h2>World cup stats</h2>

<br />
<br />
Quickest goal: 16 goals have been scored in the first minute

<br />
<br />
<b>Latest goal:</b>
Qatar World Cup 2022: 
England 6 - 2 Iran 
Scorer: Mehdi Taremi  90' +13' (pen)

<br />
<br />
<b>distribution of goals by minute graph:</b>
<img src="~/WorldCup/Stats/GoalDistribution.png" />
