@using SamSmithNZ.Service.Models.WorldCup
@using SamSmithNZ.Web.Models.WorldCup
@model TeamViewModel
@{
    ViewBag.Title = "World cup stats";
    Layout = "~/Views/Shared/_LayoutWorldCup.cshtml";
}

<h2>World cup stats</h2>
Quickest goal
Latest goal
distribution of goals by min graph
