@*@using SamSmithNZ.Web.Models.WorldCup
@model PlayoffPart1ViewModel

@if (@Model.ShowDebugElements == true)
{
    <span style="color: red; font-weight: bold;">Game @Model.GameNumber</span>
}
@if (@Model.CurrentGame != null)
{
    <span>@Model.CurrentGame.GameTime.ToString("d-MMM")&nbsp;@Model.CurrentGame.Location</span>
}*@