@*@model SamSmithNZ2015.Models.Steam.PlayerGamesViewModel
@{
    ViewBag.Title = "About Page";
    Layout = "~/Views/Shared/_LayoutSteam.cshtml";
    int count = 0;
    string totalTime = "";
}*@

<h2 class="sectionTitle"><b>About this Steam page</b></h2>
<br />
<span>This page begun as just an experiment, but it grew to something that still seems to get a lot of random hits. This is the second iteration of the page, with more functionality and better performance <br /><br />Drop me a <a href="mailto:samsmithnz@gmail.com">mail</a> if you have ideas to improve it or would like to tell me what you use it for! (samsmithnz at gmail.com)</span>
<br /><br /><br />
@*<!-- SteamIndexSkyscraper -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-2315986579277492"
     data-ad-slot="8303043164"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>*@
