@{
    ViewBag.Title = "Game Details";
    Layout = "~/Views/Shared/_LayoutSteam.cshtml";
}

<div ng-controller="gameDetailsController">

    <img ng-hide="player" src="~/Content/Images/spinner_small.gif" />
    <div ng-cloak>
        <h2 class="sectionTitle" ng-show="player"><b>{{player.PlayerName}}'s Statistics for {{gameDetails.GameName}}</b></h2>
        <br />
        <a href="~/Steam/Index?SteamId={{steamId}}" ng-show="player">{{player.PlayerName}}'s Game List</a> <span>&nbsp;&gt;&nbsp;</span> {{gameDetails.GameName}}
        <br />
        <br />
        <img ng-show="gameDetails != null" ng-src="http://media.steampowered.com/steamcommunity/public/images/apps/{{gameDetails.AppID}}/{{gameDetails.LogoURL}}.jpg" src="~/Content/Steam/steam32by32.png" />
        <br />
    </div>

    @*if (Model.GameStatistics.AchievementStats.Count > 0 || Model.GameStatistics.CompletedCount > 0)
        {
            using (Html.BeginForm("GameDetails", "Steam", new { steamID = Model.SteamID, appID = Model.AppID, isPostingResponse = true }, FormMethod.Post))
            {*@

    <div ng-show="gameDetails.Achievements.length > 0">
        <table>
            <tr>
                <td>Achievements Completed:</td>
                <td>
                    <span>{{gameDetails.TotalAchieved}} ({{gameDetails.PercentAchieved * 100 | number : 2}}%)</span>
                </td>
                <td rowspan="4" style="width: 300px;">
                    @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- SteamBanner2 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:320px;height:100px"
                             data-ad-client="ca-pub-2315986579277492"
                             data-ad-slot="6826309967"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>*@
                </td>
            </tr>
            @*@if (Model.InclusionFilters.Count > 0 && Model.ExclusionFilters.Count > 0)
                 {
                <tr>
                    <td>Include achievements with term:</td>
                    <td>@Html.DropDownList("cboIncludeFilter", new SelectList(Model.InclusionFilters, "Value", "Key", Model.CurrentIncludeFilter), new { onchange = "this.form.submit();" })</td>
                </tr>
                <tr>
                    <td>Exclude achievements with term:</td>
                    <td>@Html.DropDownList("cboExcludeFilter", new SelectList(Model.ExclusionFilters, "Value", "Key", Model.CurrentExcludeFilter), new { onchange = "this.form.submit();" })</td>
                </tr>
                <tr>
                    <td>@*Completion Filter:</td>
                    <td>@Html.DropDownList("cboCompletedFilter", new SelectList(Model.CompletedFilters, "Value", "Key", Model.CurrentCompletedFilter), new { onchange = "this.form.submit();" })</td>
                </tr>
                }*@
            <tr ng-show="selectedFriend">
                <td>Friend achievements Completed:</td>
                <td>
                    <span>{{gameDetails.FriendTotalAchieved}} ({{gameDetails.FriendPercentAchieved * 100 | number : 2}}%)</span>
                </td>
            </tr>

            <tr ng-hide="appFriends || error">
                <td colspan="2">
                    <img id="spinner1" src="~/Content/Images/spinner_small.gif" />
                </td>
            </tr>
            <tr ng-show="appFriends">
                <td>
                    Compare your achievements with a friend:
                </td>
                <td>
                    <select ng-show="appFriends.length > 0" class="form-control" ng-model="selectedFriend" ng-options="friend.SteamId as friend.Name for friend in appFriends">
                        <option value="">[Please select friend]</option>
                    </select>
                    @*<label ng-show="appFriends.length > 0 && selectedFriend != null"><input type="checkbox" ng-model="onlyShowFriendChanges" ng-checked="showFriendChanges()" />Only show differences</label>*@
                    <span ng-show="appFriends.length == 0">None of your Steam friends have this app</span>
                </td>
            </tr>
        </table>

        <br />
        <span>Achievements ({{gameDetails.Achievements.length}}):</span>
        <table class="tableborders">
            <tr>
                <th class="headerborders">#</th>
                <th class="headerborders"></th>
                <th class="headerborders">Global Completion %</th>
                <th class="headerborders">Description</th>
                <th class="headerborders" ng-hide="selectedFriend">API Name</th>
                <th class="headerborders" ng-show="selectedFriend">Friend has achieved this?</th>
            </tr>
            @* | filter: {Achieved : !FriendAchieved} *@
            <tr ng-repeat="item in gameDetails.Achievements " class="alternatingColors" ng-style="{'background-color': getFriendStyle(selectedFriend, item.Achieved, item.FriendAchieved)}">
                <td class="cellborders">{{$index + 1}}</td>
                <td class="cellborders">
                    <img ng-show="item.Achieved" ng-src="{{item.IconURL}}" />
                    <img ng-show="!item.Achieved" ng-src="{{item.IconGrayURL}}" />
                </td>
                <td class="cellborders">{{item.GlobalPercent | number : 2}}%</td>
                <td class="cellborders">{{item.Name}}: {{item.Description}}</td>
                <td class="cellborders" ng-hide="selectedFriend">{{item.ApiName}}</td>
                <td class="cellborders" ng-show="selectedFriend">
                    <img ng-show="item.FriendAchieved" ng-src="{{item.IconURL}}" />
                    <img ng-show="!item.FriendAchieved" ng-src="{{item.IconGrayURL}}" />
                </td>
            </tr>
        </table>
    </div>
    <span ng-show="gameDetails.Achievements.length == 0">No achievements found for this game</span>
    <span ng-show="gameDetails.Achievements.length == 0 && gameDetails.ErrorMessage">({{gameDetails.ErrorMessage}})</span>
    @*<h2 class="sectionTitle"><b>Found no games for [Model.PlayerName]</b></h2>*@

    <br />
</div>