@{
    ViewBag.Title = "Game Details";
    Layout = "~/Views/Shared/_LayoutSteam.cshtml";
}

<div ng-controller="gameDetailsController">

    <img ng-hide="player" src="~/Content/Images/spinner_small.gif" />
    <div ng-cloak>
        <h2 class="sectionTitle" ng-show="player"><b>{{player.PlayerName}}'s statistics for {{gameDetails.GameName}}</b></h2>
        <br />
        <a href="~/Steam/Index?SteamId={{steamId}}" ng-show="player">{{player.PlayerName}}'s Game List</a> <span ng-show="player">&nbsp;&gt;&nbsp;</span> {{gameDetails.GameName}}
        <br />
        <br />
        <img ng-show="gameDetails != null" ng-src="http://media.steampowered.com/steamcommunity/public/images/apps/{{gameDetails.AppID}}/{{gameDetails.LogoURL}}.jpg" src="~/Content/Steam/steam32by32.png" />
        <br />
    </div>
    <img ng-hide="gameDetails" src="~/Content/Images/spinner.gif" />
    <div ng-show="gameDetails.Achievements.length > 0">
        <table>
            <tr>
                <td>Achievements Completed:</td>
                <td>
                    <span>{{gameDetails.TotalAchieved}} ({{gameDetails.PercentAchieved * 100 | number : 2}}%)</span>
                </td>
                <td rowspan="4" width="500px;">
                    <div class="pull-right" style="width: 300px;">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- SteamBanner2 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:320px;height:100px"
                             data-ad-client="ca-pub-2315986579277492"
                             data-ad-slot="6826309967"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </td>
            </tr>
            @*<tr ng-show="selectedFriend">
                <td>Friend achievements Completed:</td>
                <td>
                    <span>{{gameDetails.FriendTotalAchieved}} ({{gameDetails.FriendPercentAchieved * 100 | number : 2}}%)</span>
                </td>
            </tr>*@

            @*<tr ng-hide="appFriends || error">
                <td colspan="2">
                    <img id="spinner1" src="~/Content/Images/spinner_small.gif" />
                </td>
            </tr>
            <tr ng-show="appFriends">
                <td>
                    Compare achievements with a friend:
                </td>
                <td>
                    <select ng-show="appFriends.length > 0" class="form-control" ng-model="selectedFriend" ng-options="friend.SteamId as friend.Name for friend in appFriends">
                        <option value="">[Please select friend]</option>
                    </select>
                    <span ng-show="appFriends.length == 0">None of your Steam friends have this app</span>
                </td>
            </tr>*@


            <!--
            <tr ng-hide="gameDetails && gameDetails.AchievementsStats || error">
                <td colspan="2">
                    <img id="spinner1" src="~/Content/Images/spinner_small.gif" />
                </td>
            </tr>
            <tr ng-show="gameDetails && gameDetails.AchievementsStats">
                <td>
                    Filter achievements by API Name:
                </td>
                <td>
                    <select ng-show="gameDetails.AchievementsStats.length > 0" class="form-control" ng-model="selectedAchievementFilter" ng-options="achievement.Value as achievement.Key for achievement in gameDetails.AchievementsStats">
                        <option value="">[Please select achievement to filter]</option>
                    </select>
                </td>
            </tr>
                -->
        </table>

        <br />
        <span>Achievements ({{(gameDetails.Achievements| filter: achievementFilter).length}} / {{gameDetails.Achievements.length}}): </span><input id="chkShowAchievements" type="checkbox" ng-model="showAllAchievements" />
        <label for="chkShowAchievements" style="font-weight: normal;">Show all achievements</label>
        <table class="tableborders">
            <tr>
                <th class="headerborders">#</th>
                <th class="headerborders"></th>
                <th class="headerborders">Global Completion %</th>
                <th class="headerborders">Description</th>
                <th class="headerborders" ng-hide="selectedFriend">API Name</th>
                @*<th class="headerborders" ng-show="selectedFriend">Friend has achieved this?</th>*@
            </tr>
            <tr ng-repeat="item in gameDetails.Achievements | filter: achievementFilter" class="alternatingColors" ng-style="{'background-color': getFriendStyle(selectedFriend, item.Achieved, item.FriendAchieved)}">
                <td class="cellborders">{{$index + 1}}</td>
                <td class="cellborders">
                    <img ng-show="item.IsVisible == false" src="~/Content/Steam/alien.png" />
                    <img ng-show="item.IsVisible == true && item.Achieved" ng-src="{{item.IconURL}}" />
                    <img ng-show="item.IsVisible == true && !item.Achieved" ng-src="{{item.IconGrayURL}}" />
                </td>
                <td class="cellborders">
                    @*<span style="color:red;">{{item.GlobalPercent | number : 2}}%</span>*@
                    <span ng-if="item.GlobalPercent.toFixed(1) > 0">{{item.GlobalPercent | number : 2}}%</span>
                    <span ng-if="item.GlobalPercent.toFixed(1) == 0 && item.GlobalPercent.toFixed(2) > 0">{{item.GlobalPercent | number : 3}}%</span>
                    <span ng-if="item.GlobalPercent.toFixed(2) == 0 && item.GlobalPercent.toFixed(3) > 0">{{item.GlobalPercent | number : 4}}%</span>
                    <span ng-if="item.GlobalPercent.toFixed(3) == 0 && item.GlobalPercent.toFixed(4) > 0">{{item.GlobalPercent | number : 5}}%</span>
                    <span ng-if="item.GlobalPercent.toFixed(4) == 0">{{item.GlobalPercent | number : 2}}%</span>
                </td>
                <td class="cellborders">{{item.Name}}: {{item.Description}}</td>
                <td class="cellborders" ng-hide="selectedFriend">{{item.ApiName}}</td>
                @*<td class="cellborders" ng-show="selectedFriend">
            <img ng-show="item.FriendAchieved" ng-src="{{item.IconURL}}" />
            <img ng-show="!item.FriendAchieved" ng-src="{{item.IconGrayURL}}" />
        </td>*@
            </tr>
        </table>
    </div>
    <span ng-show="gameDetails.Achievements.length == 0">No achievements found for this game</span>
    <span ng-show="gameDetails.Achievements.length == 0 && gameDetails.ErrorMessage">({{gameDetails.ErrorMessage}})</span>
    <br />
</div>