<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="githubfeed" value="https://nuget.pkg.github.com/samsmithnz.com/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <githubfeed>
      <add key="Username" value="samsmithnz" />
      <add key="ClearTextPassword" value="%GITHUBPAT%" />
    </githubfeed>
  </packageSourceCredentials>
</configuration>