@{
    ViewBag.Title = "About Page";
    Layout = "~/Views/Shared/_LayoutGuitarTab.cshtml";
}

<script>
    var targets = document.querySelector('#lblBreadCrumbLocation');
    //console.log(targets.innerText);
    targets.innerHTML = "About";
</script>
<span>
    This page begun as just an experiment, but it grew to something that seems to get a few random hits. <br /><br />
    This is the sixth or seventh iteration of the page, (I exactly how many times now) with more functionality, data and better performance. The data import maintainance process is now relatively streamlined and quick<br /><br />
    Drop me a <a href="mailto:samsmithnz@gmail.com">mail</a> if you have ideas to improve it or would like to tell me what you use it for! (samsmithnz at gmail.com). More details about the architecture can be found <a href="https://www.samsmithnz.com/home/about">here</a>.
</span>
<br /><br /><br />