@{
    ViewBag.Title = "Album List";
    Layout = "~/Views/Shared/_LayoutGuitarTab.cshtml";
    bool isGuitarTabAdmin = User.Identity.IsAuthenticated && (User.IsInRole(SamSmithNZ2017.Web.Models.AccountConstants.ACCOUNT_WebAdmin) == true);
}

<div ng-controller="indexController">
    <img ng-hide="albums" id="spinner1" src="~/Content/Images/spinner.gif" />
    <div ng-cloak>
        <table id="theTable">
            <tbody>
                <tr ng-repeat="item in albums">
                    <td>
                        <br ng-if="item.IsLeadArtist == true" />
                        <span ng-if="item.IsLeadArtist == true" style="font-weight: bold;"><a name="{{item.ArtistNameTrimed}}"></a>{{item.ArtistName}}<br /></span>
                        <a ng-if="item.IsLeadArtist == false" href="~/GuitarTab/Album?AlbumCode={{item.AlbumCode}}">{{item.AlbumName}}</a>
                        @if (isGuitarTabAdmin == true)
                        {
                            <a ng-if="item.IsLeadArtist == false" href="~/GuitarTab/EditAlbum?AlbumCode={{item.AlbumCode}}">
                                <img src="@Url.Content("~/Content/guitartab/pencil.gif")" alt="" style="height: 12px; border-width: 0;" />
                            </a>
                        }
                        <span ng-if="item.IsLeadArtist == false && item.BassAlbumCode > 0">&nbsp;&nbsp;</span>
                        <a ng-if="item.IsLeadArtist == false && item.BassAlbumCode > 0" href="~/GuitarTab/Album?AlbumCode={{item.BassAlbumCode}}">(Bass)</a>
                        <span ng-if="item.AlbumYear > 0 && item.IsBassTab==false"> ({{item.AlbumYear}})</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
