@using SamSmithNZ.Service.Models.GuitarTab
@using SamSmithNZ.Web.Models.GuitarTab
@model IndexViewModel
@{
    ViewBag.Title = "Album List";
    Layout = "~/Views/Shared/_LayoutGuitarTab.cshtml";
    string isAdminString = "";
    if (Model.IsAdmin == true)
    {
        isAdminString = "&IsAdmin=true";
    }
}

<div>
    @if (Model.IsAdmin == true)
    {
        <a href="~/GuitarTab/EditAlbum?AlbumCode=0&IsAdmin=true">Add New Album</a>
    }

    <table id="theTable">
        <tbody>
            @foreach (KeyValuePair<Artist, List<Album>> item in Model.ArtistAlbums)
            {
                Artist artist = item.Key;
                List<Album> artistAlbums = item.Value;
                <tr>
                    <td>
                        <br />
                        <b><a name="@artist.ArtistNameTrimed"></a>@artist.ArtistName<br /></b>
                        @for (int i = 0; i < artistAlbums.Count; i++)
                        {
                            Album album = artistAlbums[i];
                            <span>
                                <a href="~/GuitarTab/Album?AlbumCode=@album.AlbumCode@isAdminString">@album.AlbumName</a>
                                @if (Model.IsAdmin == true)
                                {
                                    <a href="~/GuitarTab/EditAlbum?AlbumCode=@album.AlbumCode&IsAdmin=true">
                                        <img src="~/guitartab/pencil.gif" alt="" style="height: 12px; border-width: 0;" />
                                    </a>
                                }
                                @if (album.BassAlbumCode > 0)
                                {
                                    <a href="~/GuitarTab/Album?AlbumCode=@album.BassAlbumCode@isAdminString">&nbsp;(Bass)</a>
                                }
                                @if (Model.IsAdmin == true)
                                {
                                    if (album.BassAlbumCode > 0)
                                    {
                                        <a href="~/GuitarTab/EditAlbum?AlbumCode=@album.BassAlbumCode&IsAdmin=true">
                                            <img src="~/guitartab/pencil.gif" alt="" style="height: 12px; border-width: 0;" />
                                        </a>
                                    }
                                }
                                @if (album.AlbumYear > 0)
                                {
                                    <span> (@album.AlbumYear)</span>
                                }
                                @if (i < artistAlbums.Count - 1)
                                {
                                    <span> | </span>
                                }
                            </span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

