@*@model IList<SamSmithNZ2015.Core.GuitarTab.Search>*@
@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_LayoutGuitarTab.cshtml";
    //bool isGuitarTabAdmin = true;
}

<div ng-controller="searchController">
    <span ng-if="searchResults.length == 0">no results</span>
    <span ng-if="searchResults.length > 0">Searched for: "{{searchResults[0].SearchText}}", {{searchResults.length}} matches found:</span>
    <br />
    <hr />
    <table ng-if="searchResults.length > 0">
        <tbody>
            <tr ng-repeat="item in searchResults">
                <td>

                    @* The 6th parameter is an HCPD Anchor: e.g. album.html#foofighters *@
                    @*@Html.ActionLink(@textString, "Album", "GuitarTab", null, null, item.TrackName.Replace(" ", ""), new { albumcode = item.AlbumCode, isAdmin = isAdmin }, null)*@
                    {{$index + 1}}. <a href="~/GuitarTab/Album?AlbumCode={{item.AlbumCode}}"><span>{{item.ArtistAlbumResult}}</span><span ng-if="item.IsBassTab == true"> (Bass Tab)</span><span> {{item.TrackResult}}</span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>