@{
    Layout = "~/Views/Shared/_LayoutFooFighters.cshtml";
}

<div ng-controller="albumListController">
    <br />
    <table style="border-collapse: collapse; border: 1px solid DarkGray; text-align: center;">
        <tr style="background-color: #EAEAEA; font-weight: bold;">
            <th style="width: 250px;">Album Name</th>
            <th style="width: 250px;">Release Date</th>
            <th style="width: 250px;">Cover</th>
        </tr>
        <tr ng-repeat="item in albums">
            <td><a href="/FooFighters/Album/GetAlbum?AlbumCode={{item.AlbumCode}}">{{item.AlbumName}}</a></td>
            <td ng-if="item.AlbumReleaseDate == null">None Known</td>
            <td ng-if="item.AlbumReleaseDate != null">{{item.AlbumReleaseDate | date:'dd-MMM-yyyy'}}</td>           
            <td>
                <img ng-src="~/Content/FooFighters/AlbumCovers/{{item.AlbumImage}}" alt="" style="width: 140px; height:140px;" />
            </td>
        </tr>
    </table>
</div>
