@{
    Layout = "~/Views/Shared/_LayoutFooFighters.cshtml";
}

<div ng-controller="showController">
    <div class="row">
        <div class="col-md-6">
            <h2>{{show.ShowDate | date:'dd-MMM-yyyy'}}</h2>
            <table>
                <tr>
                    <td>
                        <span style="font-weight: bold;">Location:</span>
                    </td>
                    <td>
                        {{show.ShowLocation}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight: bold;">City:</span>
                    </td>
                    <td>{{show.ShowCity}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span ng-if="songs.length==0">Note: The setlist for this show is unknown</span>
            <span style="font-weight: bold;" ng-if="songs.length > 0">Setlist:</span>
            <table class="table table-striped table-bordered">
                <tr>
                    <th></th>
                    <th>Song</th>
                    <th>Album</th>
                </tr>
                <tr ng-repeat="item in songs">
                    <td>{{item.SongOrder}}</td>
                    <td><a href="/FooFighters/Song/GetSong?SongCode={{item.SongCode}}">{{item.SongName}}</a></td>
                    <td><a href="/FooFighters/Album/GetAlbum?AlbumCode={{item.AlbumCode}}">{{item.AlbumName}}</a></td>
                </tr>
            </table>
            <br /><hr />
        </div>
    </div>
</div>
