@*@model IEnumerable<SelectListItem>*@
@{
    Layout = "~/Views/Shared/_LayoutFooFighters.cshtml";
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show List</title>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(function () {
                // NOTE : keep ONLY one of either $('#ddlMDLNo').change(...) or $('#btnclick').click(...)
                // attach the click event handler in an unobtrusive fashion, rather than directly on
                // the DOM element
                $('#cboShowYear').change(function () {
                    var cboShowYearValue = $('#cboShowYear').val();

                    $.ajax({
                        url: "/FooFighters/ShowListPartial",
                        type: "POST",
                        data: {
                            cboShowYear2: cboShowYearValue,
                        },
                        dataType: "html",
                        success: function (data) {
                            $("#partialContainer").html(data);
                        },
                        error: function () {
                            alert("No Results Found");
                            $("#partialContainer").html('An error has occurred');
                        }
                    });
                });

            });
        });
    </script>
</head>*@
<div ng-controller="showList">
    Select Year: 
    @*@Html.DropDownList("cboShowYear", Model)*@

    <br />
    <br />
    @*<div id="partialContainer">@Html.Partial("~/Views/FooFighters/ShowListPartial.cshtml", new SamSmithNZ2015.Models.FooFighters.ShowsPartialViewModel(null, "ShowList"))</div>*@
    <br /><hr />
</div>
</html>
