@{
    Layout = "~/Views/Shared/_LayoutFooFighters.cshtml";
}

<div ng-controller="showListController">
    Select Year: <select name="dboYear" ng-model="selectedYear" ng-options="item.YearCode as item.YearText for item in years" ng-change="updateShows()"></select>
    <br /><br />

    <table style="border-collapse: collapse; border: 1px solid DarkGray; text-align: center;" ng-show="shows">
        <tr style="background-color: #EAEAEA; font-weight: bold;">
            <th style="width: 250px;">Show Date</th>
            <th style="width: 250px;">Location</th>
            <th style="width: 250px;">City</th>
            <th style="width: 250px;">Song Count</th>
        </tr>
        <tr ng-repeat="item in shows">
            <td><a href="/FooFighters/Show/GetShow?ShowCode={{item.ShowCode}}">{{item.ShowDate | date:'dd-MMM-yyyy'}}</a></td>
            <td>{{item.ShowLocation}}</td>
            <td>{{item.ShowCity}}</td>
            <td>{{item.NumberOfSongsPlayed}}</td>
        </tr>
    </table>
    <br /><hr />
</div>
