@using SSNZ.DevOps.Web.Models
@model DevOpsMenu2ViewModel

@if (Model != null && Model.MainMenu != null && Model.MainMenu.MainHeader == true)
{
    <a href="@Url.Action("Intro", "DevOps")" class="tocselected"><span class="tocnumber">1</span>&nbsp;<span>Introduction to DevOps</span></a>
}
else
{
    <a href="@Url.Action("Intro", "DevOps")"><span class="tocnumber">1</span>&nbsp;<span>Introduction to DevOps</span></a>
}