@*@model SamSmithNZ2015.Models.IntFootball.GroupViewModel*@
@{
    ViewBag.Title = "Group Details";
    Layout = "~/Views/Shared/_LayoutIntFootball.cshtml";
    //bool showDebugElements = false;
}

<div ng-controller="groupController">
    @*@using (Html.BeginForm("GroupDetails", "IntFootball", new { tournamentCode = @Model.TournamentCode, roundNumber = @Model.RoundNumber, isLastRound = @Model.IsLastRound }, FormMethod.Post))
        {*@


    <div class="row">
        <div class="col-md-12">
            <span>Group: </span><select id="cboGroup" ng-model="roundCode" ng-options="item.RoundCode as item.RoundCode for item in groupCodes" ng-change="updateGroupDetails(tournamentCode, roundNumber, roundCode)"></select>@*@Html.DropDownList("cboGroup", new SelectList(Model.Groups, "RoundCode", "RoundCode", Model.SelectedGroup), new { onchange = "this.form.submit();" })*@
            <span ng-if="isLastRound == 'true'">
                &nbsp;<span style="border-style: solid; border-width: 1px; border-color: darkgray; background-color: gold;">&nbsp;World Cup Champion&nbsp;</span>
                &nbsp;<span style="border-style: solid; border-width: 1px; border-color: darkgray; background-color: silver;">&nbsp;2nd Place&nbsp;</span>
                &nbsp;<span style="border-style: solid; border-width: 1px; border-color: darkgray; background-color: #A67D3D;">&nbsp;3rd Place&nbsp;</span>
            </span>
            <span ng-if="isLastRound == 'false'">
                &nbsp;<span style="border-style: solid; border-width: 1px; border-color: darkgray; background-color: #CCFF99;">&nbsp;Team advances to next round&nbsp;</span>
            </span>
        </div>
    </div>
    @*}*@
    <br />
    <hr />
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th>Team</th>
                    <th>Played</th>
                    <th>Wins</th>
                    <th>Draws</th>
                    <th>Losses</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>GD</th>
                    <th>Points</th>
                    <th>ELO Rating</th>
                </tr>
                <tr ng-repeat="item in groups" ng-style="{'background-color': getGroupRowStyle(item.HasQualifiedForNextRound, item.GroupRanking, isLastRound)}">
                    <td>
                        <img ng-src="~/Content/IntFootball/Teams/{{item.TeamFlagName}}" CssClass="TeamImage" />
                        <a href="/IntFootball/Team?TeamCode={{item.TeamCode}}">{{item.TeamName}}</a>
                    </td>
                    <td>{{item.Played}}</td>
                    <td>{{item.Wins}}</td>
                    <td>{{item.Draws}}</td>
                    <td>{{item.Losses}}</td>
                    <td>{{item.GoalsFor}}</td>
                    <td>{{item.GoalsAgainst}}</td>
                    <td>{{item.GoalDifference}}</td>
                    <td>{{item.Points}}</td>
                    <td>{{item.ELORating}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th>Game #</th>
                    <th>Game Time</th>
                    <th>Round</th>
                    <th>Group Name</th>
                    <th>Round</th>
                    <th></th>@*<th>Team 1 (Prob to win)</th>*@
                    <th>Score</th>
                    <th></th>@*<th>Team 2 (Prob to win)</th>*@
                    <th>Location</th>
                </tr>
                <tr ng-repeat="item in games" ng-style="{'background-color': getGameRowStyle(item.GameCode)}">
                    <td><div ng-if="item.RowType == 1">{{item.GameNumber}}</div></td>
                    <td><div ng-if="item.RowType == 1">{{item.GameTime | date:'dd-MMM-yyyy'}}</div></td>
                    <td><div ng-if="item.RowType == 1">{{item.RoundNumber}}</div></td>
                    <td><div ng-if="item.RowType == 1">{{item.RoundName}}</div></td>
                    <td><div ng-if="item.RowType == 1">{{item.RoundCode}}</div></td>
                    <td style="text-align: right;">
                        <div ng-if="item.RowType == 1">
                            @*<span ng-if="item.Team1NormalTimeScore">({{item.Team1ChanceToWin | percent}} to win) </span>*@
                            <a href="/IntFootball/Team?TeamCode={{item.Team1Code}}">{{item.Team1Name}}</a>
                            <img ng-src="~/Content/IntFootball/Teams/{{item.Team1FlagName}}" CssClass="TeamImage" />
                        </div>
                        <div ng-if="item.RowType >= 2 && item.Team1NormalTimeScore">
                            {{item.Team1Name}}
                            <img ng-src="~/Content/IntFootball/Soccerball_svg.png" CssClass="TeamImage" /> {{item.Team1NormalTimeScore}}' <span ng-if="item.Team1ExtraTimeScore > 0">+{{item.Team1ExtraTimeScore}}'</span> <span ng-if="item.IsPenalty == true"> (pen)</span><span ng-if="item.IsOwnGoal == true"> (og)</span>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div ng-if="item.Team1NormalTimeScore >= 0 && item.RowType == 1">
                            <span ng-if="!item.Team1PenaltiesScore">
                                {{item.Team1ResultRegulationTimeScore}} - {{item.Team2ResultRegulationTimeScore}} {{item.Team1ResultInformation}}{{item.Team2ResultInformation}}
                            </span>
                            <div ng-if="item.Team1PenaltiesScore && item.Team1PenaltiesScore >= 0">
                                <span>{{item.Team1ResultRegulationTimeScore}} - {{item.Team2ResultRegulationTimeScore}} (aet)</span>
                                <br />
                                {{item.Team1PenaltiesScore}} - {{item.Team2PenaltiesScore}} {{item.Team1ResultInformation}}{{item.Team2ResultInformation}}
                            </div>
                        </div>
                    </td>
                    <td style="text-align: left;">
                        <div ng-if="item.RowType == 1">
                            <img ng-src="~/Content/IntFootball/Teams/{{item.Team2FlagName}}" CssClass="TeamImage" />
                            <a href="/IntFootball/Team?TeamCode={{item.Team2Code}}">{{item.Team2Name}}</a>
                            @*<span ng-if="item.Team2NormalTimeScore == null">({{item.Team2ChanceToWin | percent}} to win) </span>*@
                        </div>
                        <div ng-if="item.RowType >= 2 && item.Team2NormalTimeScore">
                            {{item.Team2Name}}
                            <img ng-src="~/Content/IntFootball/Soccerball_svg.png" CssClass="TeamImage" /> {{item.Team2NormalTimeScore}}' <span ng-if="item.Team2ExtraTimeScore > 0">+{{item.Team2ExtraTimeScore}}'</span> <span ng-if="item.IsPenalty == true"> (pen)</span><span ng-if="item.IsOwnGoal == true"> (og)</span>
                        </div>
                    </td>
                    <td><div ng-if="item.RowType == 1">{{item.Location}}</div></td>
                </tr>
            </table>
        </div>
    </div>

</div>
