@*@model SamSmithNZ2015.Models.IntFootball.PlayoffViewModel*@
@{
    ViewBag.Title = "Playoff Details";
    Layout = "~/Views/Shared/_LayoutIntFootball.cshtml";
    //bool showDebugElements = false;
}

<div ng-controller="playOffsController">
    @*show16s: {{show16s}}<br />
        showQuarters: {{showQuarters}}<br />
        showSemis: {{showSemis}}<br />
        show3rdPlace: {{show3rdPlace}}<br />
        showFinals: {{showFinals}}<br />*@

    @*<script>
                $(document).ready(function () {

                    if (show16s == false) {
                        $('td[id^=tdCol_B]').each(function () {
                            $(this).hide();
                        });
                        $('td[id^=tdCol_C]').each(function () {
                            $(this).hide();
                        });
                        $('td[id^=tdCol_D]').each(function () {
                            $(this).hide();
                        });
                        $('td[id^=tdCol_E]').each(function () {
                            $(this).hide();
                        });
                    }
                    if (showQuarters == false) {
                        $('td[id^=tdCol_F]').each(function () {
                            $(this).hide();
                        });
                        $('td[id^=tdCol_G]').each(function () {
                            $(this).hide();
                        });
                        $('td[id^=tdCol_H]').each(function () {
                            $(this).hide();
                        });
                        $('td[id^=tdCol_I]').each(function () {
                            $(this).hide();
                        });
                    }
                    if (showSemis == false) {
                        $('td[id^=tdCol_J]').each(function () {
                            $(this).hide();
                        });
                        $('td[id^=tdCol_K]').each(function () {
                            $(this).hide();
                        });
                        $('td[id^=tdCol_L]').each(function () {
                            $(this).hide();
                        });
                        $('td[id^=tdCol_M]').each(function () {
                            $(this).hide();
                        });
                    }
                    if (show3rdPlace == false) {
                        $('td[id^=tdCol_N]').each(function () {
                            var id = $(this).attr('id');
                            if (id.substr(id.length - 1) == "8" | id.substr(id.length - 1) == "9" | id.substr(id.length - 2) == "10" | id.substr(id.length - 2) == "11") {
                                $(this).hide();
                            }
                        });
                        $('td[id^=tdCol_O]').each(function () {
                            var id = $(this).attr('id');
                            if (id.substr(id.length - 1) == "4" | id.substr(id.length - 1) == "5") {
                                $(this).hide();
                            }
                        });
                    }
                    if (showFinals == false) {
                        $('td[id^=tdCol_N]').each(function () {
                            $(this).hide();
                        });
                        $('td[id^=tdCol_O]').each(function () {
                            $(this).hide();
                        });
                    }


                });
        </script>*@

    <style type="text/css">
        .Col_A {
            background-color: White /* Peru */;
            text-align: center;
        }

        .Col_B {
            background-color: White /* LightGreen */;
            text-align: center;
        }

        .Col_C {
            background-color: White /* CornFlowerBlue */;
            text-align: center;
        }

        .Col_D {
            background-color: White /* Tomato */;
            text-align: center;
        }

        .Col_E {
            background-color: White /* Wheat*/;
            text-align: center;
        }

        .Col_F {
            background-color: White /* LightGreen */;
            text-align: center;
        }

        .Col_G {
            background-color: White /* CornFlowerBlue */;
            text-align: center;
        }

        .Col_H {
            background-color: White /* Tomato */;
            text-align: center;
        }

        .Col_I {
            background-color: White /* Wheat*/;
            text-align: center;
        }

        .Col_J {
            background-color: White /* LightGreen */;
            text-align: center;
        }

        .Col_K {
            background-color: White /* CornFlowerBlue */;
            text-align: center;
        }

        .Col_L {
            background-color: White /* Tomato */;
            text-align: center;
        }

        .Col_M {
            background-color: White /* Wheat*/;
            text-align: center;
        }

        .Col_N {
            background-color: White /* LightGreen */;
            text-align: center;
        }

        .Col_O {
            background-color: White /* CornFlowerBlue */;
            text-align: center;
        }

        .PlayoffHeader {
            background-color: #f2f2f2;
            border-bottom: #aaa 1px solid;
            border-left: #aaa 1px solid;
            border-top: #aaa 1px solid;
            border-right: #aaa 1px solid;
            text-align: center;
        }

        .PlayoffTeam {
            background-color: White /* LightGreen */;
            text-align: left;
            border-bottom: #aaa 1px solid;
            border-left: #aaa 1px solid;
            border-top: #aaa 1px solid;
            border-right: #aaa 1px solid;
        }

        .PlayoffScore {
            background-color: White /* CornFlowerBlue */; /*#f9f9f9*/
            text-align: center;
            border-bottom: #aaa 1px solid;
            border-left: #aaa 1px solid;
            border-top: #aaa 1px solid;
            border-right: #aaa 1px solid;
        }

        .PlayoffTimeLocation {
            background-color: White /* LightGreen */;
            text-align: left;
        }
    </style>

    <div id="divPlayoffTable">
        <table border="0" cellpadding="0" cellspacing="0" class="PlayoffTable" style="border-collapse: separate;">
            @*<tr>
                    <td class="Col_A" id="tdCol_A0"></td>
                    <td class="Col_B" id="tdCol_B0" ng-if="show16s == true">
                        Col_B
                    </td>
                    <td class="Col_C" id="tdCol_C0" ng-if="show16s == true">
                        Col_C
                    </td>
                    <td class="Col_D" id="tdCol_D0" ng-if="show16s == true">
                        Col_D
                    </td>
                    <td class="Col_E" id="tdCol_E0" ng-if="show16s == true">
                        Col_E
                    </td>
                    <td class="Col_F" id="tdCol_F0" ng-if="showQuarters == true">
                        Col_F
                    </td>
                    <td class="Col_G" id="tdCol_G0" ng-if="showQuarters == true">
                        Col_G
                    </td>
                    <td class="Col_H" id="tdCol_H0" ng-if="showQuarters == true">
                        Col_H
                    </td>
                    <td class="Col_I" id="tdCol_I0" ng-if="showQuarters == true">
                        Col_I
                    </td>
                    <td class="Col_J" id="tdCol_J0" ng-if="showSemis == true">
                        Col_J
                    </td>
                    <td class="Col_K" id="tdCol_K0" ng-if="showSemis == true">
                        Col_K
                    </td>
                    <td class="Col_L" id="tdCol_L0" ng-if="showSemis == true">
                        Col_L
                    </td>
                    <td class="Col_M" id="tdCol_M0" ng-if="showSemis == true">
                        Col_M
                    </td>
                    <td class="Col_N" id="tdCol_N0" ng-if="show3rdPlace == true || showFinals == true">
                        Col_N
                    </td>
                    <td class="Col_O" id="tdCol_O0" ng-if="show3rdPlace == true || showFinals == true">
                        Col_O
                    </td>
                </tr>*@
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" class="PlayoffHeader" id="tdCol_B1" ng-if="show16s == true">
                    Round of 16
                </td>
                <td colspan="2" class="Col_D" id="tdCol_D1" ng-if="show16s == true"></td>
                <td colspan="2" class="PlayoffHeader" id="tdCol_F1" ng-if="showQuarters == true">
                    Quarter-finals
                </td>
                <td colspan="2" class="Col_H" id="tdCol_H1" ng-if="showQuarters == true"></td>
                <td colspan="2" class="PlayoffHeader" id="tdCol_J1" ng-if="showSemis == true">
                    Semi-finals
                </td>
                <td colspan="2" class="Col_L" id="tdCol_L1" ng-if="showSemis == true"></td>
                <td colspan="2" class="PlayoffHeader" id="tdCol_N1" ng-if="show3rdPlace == true || showFinals == true">
                    Final
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <!-- Top 16 -->
                <td width="175" class="Col_B" id="tdCol_B2" ng-if="show16s == true">
                    &nbsp;
                </td>
                <td width="50" class="Col_C" id="tdCol_C1" ng-if="show16s == true">
                    &nbsp;
                </td>
                <td width="15" class="Col_D" id="tdCol_D2" ng-if="show16s == true">
                    &nbsp;
                </td>
                <td width="20" class="Col_E" id="tdCol_E1" ng-if="show16s == true">
                    &nbsp;
                </td>
                <!-- Quarters -->
                <td width="175" class="Col_F" id="tdCol_F2" ng-if="showQuarters == true">
                    &nbsp;
                </td>
                <td width="50" class="Col_G" id="tdCol_G1" ng-if="showQuarters == true">
                    &nbsp;
                </td>
                <td width="15" class="Col_H" id="tdCol_H2" ng-if="showQuarters == true">
                    &nbsp;
                </td>
                <td width="20" class="Col_I" id="tdCol_I1" ng-if="showQuarters == true">
                    &nbsp;
                </td>
                <!-- Semis -->
                <td width="175" class="Col_J" id="tdCol_J2" ng-if="showSemis == true">
                    &nbsp;
                </td>
                <td width="50" class="Col_K" id="tdCol_K1" ng-if="showSemis == true">
                    &nbsp;
                </td>
                <td width="15" class="Col_L" id="tdCol_L2" ng-if="showSemis == true">
                    &nbsp;
                </td>
                <td width="20" class="Col_M" id="tdCol_M1" ng-if="showSemis == true">
                    &nbsp;
                </td>
                <!-- Final -->
                <td width="175" class="Col_N" id="tdCol_N2" ng-if="show3rdPlace == true || showFinals == true">
                    &nbsp;
                </td>
                <td width="50" class="Col_O" id="tdCol_O1" ng-if="show3rdPlace == true || showFinals == true">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B3" ng-if="show16s == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">49</span>
                    <span>{{findGame(49).GameTime | date:'d-MMM'}}&nbsp;{{findGame(49).Location}}</span>
                </td>
                <td rowspan="4" style="border-bottom: black 1px solid;" class="Col_D" id="tdCol_D3" ng-if="show16s == true">
                    &nbsp;
                </td>
                <td rowspan="7" style="border-bottom: black 1px solid;" class="Col_E" id="tdCol_E2" ng-if="show16s == true">
                    &nbsp;
                </td>
                <td colspan="2" rowspan="3" class="Col_F" id="tdCol_F3" ng-if="showQuarters == true"></td>
                <td rowspan="7" style="border-bottom: black 1px solid;" class="Col_H" id="tdCol_H3" ng-if="showQuarters == true">
                    &nbsp;
                </td>
                <td rowspan="13" style="border-bottom: black 1px solid;" class="Col_I" id="tdCol_I2" ng-if="showQuarters == true">
                    &nbsp;
                </td>
                <td colspan="2" rowspan="9" class="Col_J" id="tdCol_J3" ng-if="showSemis == true"></td>
                <td rowspan="13" style="border-bottom: black 1px solid;" class="Col_L" id="tdCol_L3" ng-if="showSemis == true">
                    &nbsp;
                </td>
                <td rowspan="25" style="border-bottom: black 1px solid;" class="Col_M" id="tdCol_M2" ng-if="showSemis == true">
                    &nbsp;
                </td>
                <td colspan="2" rowspan="21" class="Col_N" id="tdCol_N3" ng-if="show3rdPlace == true || showFinals == true"></td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 49, showDebugElements, true, "tdCol_B4", "tdCol_C2"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B4" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(49).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(49).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(49).Team1Code}}">{{findGame(49).Team1Name}}</a> {{findGame(49).Team1ResultInformation}}
                        <span ng-if="findGame(49) == null || findGame(49).Team1Code == 0">Winner Group A</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C2" ng-if="show16s == true">
                    <span ng-if="findGame(49).Team1ResultWonGame == true"><b>{{findGame(49).Team1ResultRegulationTimeScore}}<span ng-if="findGame(49).Team1PenaltiesScore != null && findGame(49).Team1PenaltiesScore >= 0"> ({{findGame(49).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(49).Team1ResultWonGame == false">{{findGame(49).Team1ResultRegulationTimeScore}}<span ng-if="findGame(49).Team1PenaltiesScore != null && findGame(49).Team1PenaltiesScore >= 0"> ({{findGame(49).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_F4" ng-if="showQuarters == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">58</span>
                    <span>{{findGame(58).GameTime | date:'d-MMM'}}&nbsp;{{findGame(58).Location}}</span>
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 49, showDebugElements, false, "tdCol_B5", "tdCol_C3"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B5" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(49).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(49).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(49).Team2Code}}">{{findGame(49).Team2Name}}</a> {{findGame(49).Team2ResultInformation}}
                        <span ng-if="findGame(49) == null || findGame(49).Team1Code == 0">Runner Up Group B</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C3" ng-if="show16s == true">
                    <span ng-if="findGame(49).Team2ResultWonGame == true"><b>{{findGame(49).Team2ResultRegulationTimeScore}}<span ng-if="findGame(49).Team2PenaltiesScore != null && findGame(49).Team2PenaltiesScore >= 0"> ({{findGame(49).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(49).Team2ResultWonGame == false">{{findGame(49).Team2ResultRegulationTimeScore}}<span ng-if="findGame(49).Team2PenaltiesScore != null && findGame(49).Team2PenaltiesScore >= 0"> ({{findGame(49).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="6" style="border-bottom: black 1px solid; border-top: black 2px solid; border-right: black 3px solid" class="Col_D" id="tdCol_D4" ng-if="show16s == true">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 58, showDebugElements, true, "tdCol_F5", "tdCol_G2"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_F5" ng-if="showQuarters == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(58).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(58).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(58).Team1Code}}">{{findGame(58).Team1Name}}</a> {{findGame(58).Team1ResultInformation}}
                        <span ng-if="findGame(58) == null || findGame(58).Team1Code == 0">Winner Game 49</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_G2" ng-if="showQuarters == true">
                    <span ng-if="findGame(58).Team1ResultWonGame == true"><b>{{findGame(58).Team1ResultRegulationTimeScore}}<span ng-if="findGame(58).Team1PenaltiesScore != null && findGame(58).Team1PenaltiesScore >= 0"> ({{findGame(58).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(58).Team1ResultWonGame == false">{{findGame(58).Team1ResultRegulationTimeScore}}<span ng-if="findGame(58).Team1PenaltiesScore != null && findGame(58).Team1PenaltiesScore >= 0"> ({{findGame(58).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B6" ng-if="show16s == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">50</span>
                    <span>{{findGame(50).GameTime | date:'d-MMM'}}&nbsp;{{findGame(50).Location}}</span>
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td rowspan="12" style="border-bottom: black 1px solid; border-top: black 2px solid;" class="Col_E" id="tdCol_E3" ng-if="show16s == true">
                    &nbsp;
                </td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 58, showDebugElements, false, "tdCol_F6", "tdCol_G3"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_F6" ng-if="showQuarters == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(58).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(58).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(58).Team2Code}}">{{findGame(58).Team2Name}}</a> {{findGame(58).Team2ResultInformation}}
                        <span ng-if="findGame(58) == null || findGame(58).Team1Code == 0">Winner Game 50</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_G3" ng-if="showQuarters == true">
                    <span ng-if="findGame(58).Team2ResultWonGame == true"><b>{{findGame(58).Team2ResultRegulationTimeScore}}<span ng-if="findGame(58).Team2PenaltiesScore != null && findGame(58).Team2PenaltiesScore >= 0"> ({{findGame(58).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(58).Team2ResultWonGame == false">{{findGame(58).Team2ResultRegulationTimeScore}}<span ng-if="findGame(58).Team2PenaltiesScore != null && findGame(58).Team2PenaltiesScore >= 0"> ({{findGame(58).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="12" style="border-bottom: black 1px solid; border-top: black 2px solid; border-right: black 3px solid" class="Col_D" id="tdCol_H4" ng-if="showQuarters == true">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 50, showDebugElements, true, "tdCol_B7", "tdCol_C4"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B7" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(50).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(50).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(50).Team1Code}}">{{findGame(50).Team1Name}}</a> {{findGame(50).Team1ResultInformation}}
                        <span ng-if="findGame(50) == null || findGame(50).Team1Code == 0">Winner Group C</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C4" ng-if="show16s == true">
                    <span ng-if="findGame(50).Team1ResultWonGame == true"><b>{{findGame(50).Team1ResultRegulationTimeScore}}<span ng-if="findGame(50).Team1PenaltiesScore != null && findGame(50).Team1PenaltiesScore >= 0"> ({{findGame(50).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(50).Team1ResultWonGame == false">{{findGame(50).Team1ResultRegulationTimeScore}}<span ng-if="findGame(50).Team1PenaltiesScore != null && findGame(50).Team1PenaltiesScore >= 0"> ({{findGame(50).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="6" class="Col_F" id="tdCol_F7" ng-if="showQuarters == true"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_J4" ng-if="showSemis == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">61</span>
                    <span>{{findGame(61).GameTime | date:'d-MMM'}}&nbsp;{{findGame(61).Location}}</span>
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 50, showDebugElements, false, "tdCol_B8", "tdCol_C5"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B8" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(50).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(50).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(50).Team2Code}}">{{findGame(50).Team2Name}}</a> {{findGame(50).Team2ResultInformation}}
                        <span ng-if="findGame(50) == null || findGame(50).Team1Code == 0">Runner Up Group D</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C5" ng-if="show16s == true">
                    <span ng-if="findGame(50).Team2ResultWonGame == true"><b>{{findGame(50).Team2ResultRegulationTimeScore}}<span ng-if="findGame(50).Team2PenaltiesScore != null && findGame(50).Team2PenaltiesScore >= 0"> ({{findGame(50).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(50).Team2ResultWonGame == false">{{findGame(50).Team2ResultRegulationTimeScore}}<span ng-if="findGame(50).Team2PenaltiesScore != null && findGame(50).Team2PenaltiesScore >= 0"> ({{findGame(50).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="6" style="border-bottom: black 1px solid; border-top: black 2px solid;" class="Col_D" id="tdCol_D5" ng-if="show16s == true">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 61, showDebugElements, true, "tdCol_J5", "tdCol_K2"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_J5" ng-if="showSemis == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(61).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(61).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(61).Team1Code}}">{{findGame(61).Team1Name}}</a> {{findGame(61).Team1ResultInformation}}
                        <span ng-if="findGame(61) == null || findGame(61).Team1Code == 0">Winner Game 58</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_K2" ng-if="showSemis == true">
                    <span ng-if="findGame(61).Team1ResultWonGame == true"><b>{{findGame(61).Team1ResultRegulationTimeScore}}<span ng-if="findGame(61).Team1PenaltiesScore != null && findGame(61).Team1PenaltiesScore >= 0"> ({{findGame(61).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(61).Team1ResultWonGame == false">{{findGame(61).Team1ResultRegulationTimeScore}}<span ng-if="findGame(61).Team1PenaltiesScore != null && findGame(61).Team1PenaltiesScore >= 0"> ({{findGame(61).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B9" ng-if="show16s == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">53</span>
                    <span>{{findGame(53).GameTime | date:'d-MMM'}}&nbsp;{{findGame(53).Location}}</span>
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td rowspan="24" style="border-bottom: black 1px solid; border-top: black 2px solid;" class="Col_I" id="tdCol_I3" ng-if="showQuarters == true">
                    &nbsp;
                </td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 61, showDebugElements, false, "tdCol_J6", "tdCol_K3"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_J6" ng-if="showSemis == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(61).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(61).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(61).Team2Code}}">{{findGame(61).Team2Name}}</a> {{findGame(61).Team2ResultInformation}}
                        <span ng-if="findGame(61) == null || findGame(61).Team1Code == 0">Winner Game 57</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_K3" ng-if="showSemis == true">
                    <span ng-if="findGame(61).Team2ResultWonGame == true"><b>{{findGame(61).Team2ResultRegulationTimeScore}}<span ng-if="findGame(61).Team2PenaltiesScore != null && findGame(61).Team2PenaltiesScore >= 0"> ({{findGame(61).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(61).Team2ResultWonGame == false">{{findGame(61).Team2ResultRegulationTimeScore}}<span ng-if="findGame(61).Team2PenaltiesScore != null && findGame(61).Team2PenaltiesScore >= 0"> ({{findGame(61).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="24" style="border-bottom: black 1px solid; border-top: black 2px solid; border-right: black 3px solid" class="Col_L" id="tdCol_L4" ng-if="showSemis == true">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 53, showDebugElements, true, "tdCol_B10", "tdCol_C6"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B10" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(53).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(53).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(53).Team1Code}}">{{findGame(53).Team1Name}}</a> {{findGame(53).Team1ResultInformation}}
                        <span ng-if="findGame(53) == null || findGame(53).Team1Code == 0">Winner Group E</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C6" ng-if="show16s == true">
                    <span ng-if="findGame(53).Team1ResultWonGame == true"><b>{{findGame(53).Team1ResultRegulationTimeScore}}<span ng-if="findGame(53).Team1PenaltiesScore != null && findGame(53).Team1PenaltiesScore >= 0"> ({{findGame(53).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(53).Team1ResultWonGame == false">{{findGame(53).Team1ResultRegulationTimeScore}}<span ng-if="findGame(53).Team1PenaltiesScore != null && findGame(53).Team1PenaltiesScore >= 0"> ({{findGame(53).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_F8" ng-if="showQuarters == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">57</span>
                    <span>{{findGame(57).GameTime | date:'d-MMM'}}&nbsp;{{findGame(57).Location}}</span>
                </td>
                <td colspan="2" rowspan="18" class="Col_J" id="tdCol_J7" ng-if="showSemis == true"></td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 53, showDebugElements, false, "tdCol_B11", "tdCol_C7"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B11" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(53).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(53).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(53).Team2Code}}">{{findGame(53).Team2Name}}</a> {{findGame(53).Team2ResultInformation}}
                        <span ng-if="findGame(53) == null || findGame(53).Team1Code == 0">Runner Up Group F</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C7" ng-if="show16s == true">
                    <span ng-if="findGame(53).Team2ResultWonGame == true"><b>{{findGame(53).Team2ResultRegulationTimeScore}}<span ng-if="findGame(53).Team2PenaltiesScore != null && findGame(53).Team2PenaltiesScore >= 0"> ({{findGame(53).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(53).Team2ResultWonGame == false">{{findGame(53).Team2ResultRegulationTimeScore}}<span ng-if="findGame(53).Team2PenaltiesScore != null && findGame(53).Team2PenaltiesScore >= 0"> ({{findGame(53).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="6" style="border-bottom: black 1px solid; border-top: black 2px solid; border-right: black 3px solid" class="Col_D" id="tdCol_D6" ng-if="show16s == true">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 57, showDebugElements, true, "tdCol_F9", "tdCol_G4"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_F9" ng-if="showQuarters == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(57).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(57).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(57).Team1Code}}">{{findGame(57).Team1Name}}</a> {{findGame(57).Team1ResultInformation}}
                        <span ng-if="findGame(57) == null || findGame(57).Team1Code == 0">Winner Game 53</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_G4" ng-if="showQuarters == true">
                    <span ng-if="findGame(57).Team1ResultWonGame == true"><b>{{findGame(57).Team1ResultRegulationTimeScore}}<span ng-if="findGame(57).Team1PenaltiesScore != null && findGame(57).Team1PenaltiesScore >= 0"> ({{findGame(57).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(57).Team1ResultWonGame == false">{{findGame(57).Team1ResultRegulationTimeScore}}<span ng-if="findGame(57).Team1PenaltiesScore != null && findGame(57).Team1PenaltiesScore >= 0"> ({{findGame(57).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B12" ng-if="show16s == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">54</span>
                    <span>{{findGame(54).GameTime | date:'d-MMM'}}&nbsp;{{findGame(54).Location}}</span>
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td rowspan="12" style="border-bottom: black 1px solid; border-top: black 2px solid;" class="Col_E" id="tdCol_E4" ng-if="show16s == true">
                    &nbsp;
                </td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 57, showDebugElements, false, "tdCol_F10", "tdCol_G5"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_F10" ng-if="showQuarters == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(57).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(57).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(57).Team2Code}}">{{findGame(57).Team2Name}}</a> {{findGame(57).Team2ResultInformation}}
                        <span ng-if="findGame(57) == null || findGame(57).Team1Code == 0">Winner Game 54</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_G5" ng-if="showQuarters == true">
                    <span ng-if="findGame(57).Team2ResultWonGame == true"><b>{{findGame(57).Team2ResultRegulationTimeScore}}<span ng-if="findGame(57).Team2PenaltiesScore != null && findGame(57).Team2PenaltiesScore >= 0"> ({{findGame(57).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(57).Team2ResultWonGame == false">{{findGame(57).Team2ResultRegulationTimeScore}}<span ng-if="findGame(57).Team2PenaltiesScore != null && findGame(57).Team2PenaltiesScore >= 0"> ({{findGame(57).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="12" style="border-bottom: black 1px solid; border-top: black 2px solid;" class="Col_H" id="tdCol_H5" ng-if="showQuarters == true">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 54, showDebugElements, true, "tdCol_B13", "tdCol_C8"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B13" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(54).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(54).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(54).Team1Code}}">{{findGame(54).Team1Name}}</a> {{findGame(54).Team1ResultInformation}}
                        <span ng-if="findGame(54) == null || findGame(54).Team1Code == 0">Winner Group G</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C8" ng-if="show16s == true">
                    <span ng-if="findGame(54).Team1ResultWonGame == true"><b>{{findGame(54).Team1ResultRegulationTimeScore}}<span ng-if="findGame(54).Team1PenaltiesScore != null && findGame(54).Team1PenaltiesScore >= 0"> ({{findGame(54).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(54).Team1ResultWonGame == false">{{findGame(54).Team1ResultRegulationTimeScore}}<span ng-if="findGame(54).Team1PenaltiesScore != null && findGame(54).Team1PenaltiesScore >= 0"> ({{findGame(54).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="6" class="Col_F" id="tdCol_F11" ng-if="showQuarters == true"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_N4" ng-if="show3rdPlace == true || showFinals == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">64</span>
                    <span>{{findGame(64).GameTime | date:'d-MMM'}}&nbsp;{{findGame(64).Location}}</span>
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 54, showDebugElements, false, "tdCol_B14", "tdCol_C9"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B14" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(54).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(54).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(54).Team2Code}}">{{findGame(54).Team2Name}}</a> {{findGame(54).Team2ResultInformation}}
                        <span ng-if="findGame(54) == null || findGame(54).Team1Code == 0">Runner Up Group H</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C9" ng-if="show16s == true">
                    <span ng-if="findGame(54).Team2ResultWonGame == true"><b>{{findGame(54).Team2ResultRegulationTimeScore}}<span ng-if="findGame(54).Team2PenaltiesScore != null && findGame(54).Team2PenaltiesScore >= 0"> ({{findGame(54).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(54).Team2ResultWonGame == false">{{findGame(54).Team2ResultRegulationTimeScore}}<span ng-if="findGame(54).Team2PenaltiesScore != null && findGame(54).Team2PenaltiesScore >= 0"> ({{findGame(54).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="6" style="border-bottom: black 1px solid; border-top: black 2px solid;" class="Col_D" id="tdCol_D7" ng-if="show16s == true">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 64, showDebugElements, true, "tdCol_N5", "tdCol_O2"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_N5" ng-if="show3rdPlace == true || showFinals == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(64).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(64).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(64).Team1Code}}">{{findGame(64).Team1Name}}</a> {{findGame(64).Team1ResultInformation}}
                        <span ng-if="findGame(64) == null || findGame(64).Team1Code == 0">Winner Game 61</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_O2" ng-if="show3rdPlace == true || showFinals == true">
                    <span ng-if="findGame(64).Team1ResultWonGame == true"><b>{{findGame(64).Team1ResultRegulationTimeScore}}<span ng-if="findGame(64).Team1PenaltiesScore != null && findGame(64).Team1PenaltiesScore >= 0"> ({{findGame(64).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(64).Team1ResultWonGame == false">{{findGame(64).Team1ResultRegulationTimeScore}}<span ng-if="findGame(64).Team1PenaltiesScore != null && findGame(64).Team1PenaltiesScore >= 0"> ({{findGame(64).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B15" ng-if="show16s == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">52</span>
                    <span>{{findGame(52).GameTime | date:'d-MMM'}}&nbsp;{{findGame(52).Location}}</span>
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td rowspan="23" style="border-top: black 2px solid;" class="Col_M" id="tdCol_M3" ng-if="showSemis == true">
                    &nbsp;
                </td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 64, showDebugElements, false, "tdCol_N6", "tdCol_O3"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_N6" ng-if="show3rdPlace == true || showFinals == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(64).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(64).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(64).Team2Code}}">{{findGame(64).Team2Name}}</a> {{findGame(64).Team2ResultInformation}}
                        <span ng-if="findGame(64) == null || findGame(64).Team1Code == 0">Winner Game 62</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_O3" ng-if="show3rdPlace == true || showFinals == true">
                    <span ng-if="findGame(64).Team2ResultWonGame == true"><b>{{findGame(64).Team2ResultRegulationTimeScore}}<span ng-if="findGame(64).Team2PenaltiesScore != null && findGame(64).Team2PenaltiesScore >= 0"> ({{findGame(64).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(64).Team2ResultWonGame == false">{{findGame(64).Team2ResultRegulationTimeScore}}<span ng-if="findGame(64).Team2PenaltiesScore != null && findGame(64).Team2PenaltiesScore >= 0"> ({{findGame(64).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 52, showDebugElements, true, "tdCol_B16", "tdCol_C10"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B16" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(52).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(52).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(52).Team1Code}}">{{findGame(52).Team1Name}}</a> {{findGame(52).Team1ResultInformation}}
                        <span ng-if="findGame(52) == null || findGame(52).Team1Code == 0">Winner Group B</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C10" ng-if="show16s == true">
                    <span ng-if="findGame(52).Team1ResultWonGame == true"><b>{{findGame(52).Team1ResultRegulationTimeScore}}<span ng-if="findGame(52).Team1PenaltiesScore != null && findGame(52).Team1PenaltiesScore >= 0"> ({{findGame(52).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(52).Team1ResultWonGame == false">{{findGame(52).Team1ResultRegulationTimeScore}}<span ng-if="findGame(52).Team1PenaltiesScore != null && findGame(52).Team1PenaltiesScore >= 0"> ({{findGame(52).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_F12" ng-if="showQuarters == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">59</span>
                    <span>{{findGame(59).GameTime | date:'d-MMM'}}&nbsp;{{findGame(59).Location}}</span>
                </td>
                <td colspan="2" rowspan="10" class="Col_N" id="tdCol_N7" ng-if="show3rdPlace == true || showFinals == true"></td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 52, showDebugElements, false, "tdCol_B17", "tdCol_C11"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B17" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(52).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(52).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(52).Team2Code}}">{{findGame(52).Team2Name}}</a> {{findGame(52).Team2ResultInformation}}
                        <span ng-if="findGame(52) == null || findGame(52).Team1Code == 0">Runner Up Group A</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C11" ng-if="show16s == true">
                    <span ng-if="findGame(52).Team2ResultWonGame == true"><b>{{findGame(52).Team2ResultRegulationTimeScore}}<span ng-if="findGame(52).Team2PenaltiesScore != null && findGame(52).Team2PenaltiesScore >= 0"> ({{findGame(52).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(52).Team2ResultWonGame == false">{{findGame(52).Team2ResultRegulationTimeScore}}<span ng-if="findGame(52).Team2PenaltiesScore != null && findGame(52).Team2PenaltiesScore >= 0"> ({{findGame(52).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="6" style="border-bottom: black 1px solid; border-top: black 2px solid; border-right: black 3px solid" class="Col_D" id="tdCol_D8" ng-if="show16s == true">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 59, showDebugElements, true, "tdCol_F13", "tdCol_G6"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_F13" ng-if="showQuarters == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(59).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(59).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(59).Team1Code}}">{{findGame(59).Team1Name}}</a> {{findGame(59).Team1ResultInformation}}
                        <span ng-if="findGame(59) == null || findGame(59).Team1Code == 0">Winner Game 52</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_G6" ng-if="showQuarters == true">
                    <span ng-if="findGame(59).Team1ResultWonGame == true"><b>{{findGame(59).Team1ResultRegulationTimeScore}}<span ng-if="findGame(59).Team1PenaltiesScore != null && findGame(59).Team1PenaltiesScore >= 0"> ({{findGame(59).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(59).Team1ResultWonGame == false">{{findGame(59).Team1ResultRegulationTimeScore}}<span ng-if="findGame(59).Team1PenaltiesScore != null && findGame(59).Team1PenaltiesScore >= 0"> ({{findGame(59).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B18" ng-if="show16s == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">51</span>
                    <span>{{findGame(51).GameTime | date:'d-MMM'}}&nbsp;{{findGame(51).Location}}</span>
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td rowspan="12" style="border-bottom: black 1px solid; border-top: black 2px solid;" class="Col_E" id="tdCol_E5" ng-if="show16s == true">
                    &nbsp;
                </td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 59, showDebugElements, false, "tdCol_F14", "tdCol_G7"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_F14" ng-if="showQuarters == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(59).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(59).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(59).Team2Code}}">{{findGame(59).Team2Name}}</a> {{findGame(59).Team2ResultInformation}}
                        <span ng-if="findGame(59) == null || findGame(59).Team1Code == 0">Winner Game 51</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_G7" ng-if="showQuarters == true">
                    <span ng-if="findGame(59).Team2ResultWonGame == true"><b>{{findGame(59).Team2ResultRegulationTimeScore}}<span ng-if="findGame(59).Team2PenaltiesScore != null && findGame(59).Team2PenaltiesScore >= 0"> ({{findGame(59).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(59).Team2ResultWonGame == false">{{findGame(59).Team2ResultRegulationTimeScore}}<span ng-if="findGame(59).Team2PenaltiesScore != null && findGame(59).Team2PenaltiesScore >= 0"> ({{findGame(59).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="12" style="border-bottom: black 1px solid; border-top: black 2px solid; border-right: black 3px solid" class="Col_H" id="tdCol_H6" ng-if="showQuarters == true">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 51, showDebugElements, true, "tdCol_B19", "tdCol_C12"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B19" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(51).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(51).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(51).Team1Code}}">{{findGame(51).Team1Name}}</a> {{findGame(51).Team1ResultInformation}}
                        <span ng-if="findGame(51) == null || findGame(51).Team1Code == 0">Winner Group D</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C12" ng-if="show16s == true">
                    <span ng-if="findGame(51).Team1ResultWonGame == true"><b>{{findGame(51).Team1ResultRegulationTimeScore}}<span ng-if="findGame(51).Team1PenaltiesScore != null && findGame(51).Team1PenaltiesScore >= 0"> ({{findGame(51).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(51).Team1ResultWonGame == false">{{findGame(51).Team1ResultRegulationTimeScore}}<span ng-if="findGame(51).Team1PenaltiesScore != null && findGame(51).Team1PenaltiesScore >= 0"> ({{findGame(51).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="6" class="Col_F" id="tdCol_F15" ng-if="showQuarters == true"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_J8" ng-if="showSemis == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">62</span>
                    <span>{{findGame(62).GameTime | date:'d-MMM'}}&nbsp;{{findGame(62).Location}}</span>
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 51, showDebugElements, false, "tdCol_B20", "tdCol_C13"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B20" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(51).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(51).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(51).Team2Code}}">{{findGame(51).Team2Name}}</a> {{findGame(51).Team2ResultInformation}}
                        <span ng-if="findGame(51) == null || findGame(51).Team1Code == 0">Runner Up Group C</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C13" ng-if="show16s == true">
                    <span ng-if="findGame(51).Team2ResultWonGame == true"><b>{{findGame(51).Team2ResultRegulationTimeScore}}<span ng-if="findGame(51).Team2PenaltiesScore != null && findGame(51).Team2PenaltiesScore >= 0"> ({{findGame(51).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(51).Team2ResultWonGame == false">{{findGame(51).Team2ResultRegulationTimeScore}}<span ng-if="findGame(51).Team2PenaltiesScore != null && findGame(51).Team2PenaltiesScore >= 0"> ({{findGame(51).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="6" style="border-bottom: black 1px solid; border-top: black 2px solid;" class="Col_D" id="tdCol_D9" ng-if="show16s == true">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 62, showDebugElements, true, "tdCol_J9", "tdCol_K4"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_J9" ng-if="showSemis == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(62).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(62).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(62).Team1Code}}">{{findGame(62).Team1Name}}</a> {{findGame(62).Team1ResultInformation}}
                        <span ng-if="findGame(62) == null || findGame(62).Team1Code == 0">Winner Game 59</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_K4" ng-if="showSemis == true">
                    <span ng-if="findGame(62).Team1ResultWonGame == true"><b>{{findGame(62).Team1ResultRegulationTimeScore}}<span ng-if="findGame(62).Team1PenaltiesScore != null && findGame(62).Team1PenaltiesScore >= 0"> ({{findGame(62).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(62).Team1ResultWonGame == false">{{findGame(62).Team1ResultRegulationTimeScore}}<span ng-if="findGame(62).Team1PenaltiesScore != null && findGame(62).Team1PenaltiesScore >= 0"> ({{findGame(62).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B21" ng-if="show16s == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">55</span>
                    <span>{{findGame(55).GameTime | date:'d-MMM'}}&nbsp;{{findGame(55).Location}}</span>
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td rowspan="11" style="border-top: black 2px solid;" class="Col_I" id="tdCol_I4" ng-if="showQuarters == true">
                    &nbsp;
                </td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 62, showDebugElements, false, "tdCol_J10", "tdCol_K5"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_J10" ng-if="showSemis == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(62).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(62).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(62).Team2Code}}">{{findGame(62).Team2Name}}</a> {{findGame(62).Team2ResultInformation}}
                        <span ng-if="findGame(62) == null || findGame(62).Team1Code == 0">Winner Game 60</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_K5" ng-if="showSemis == true">
                    <span ng-if="findGame(62).Team2ResultWonGame == true"><b>{{findGame(62).Team2ResultRegulationTimeScore}}<span ng-if="findGame(62).Team2PenaltiesScore != null && findGame(62).Team2PenaltiesScore >= 0"> ({{findGame(62).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(62).Team2ResultWonGame == false">{{findGame(62).Team2ResultRegulationTimeScore}}<span ng-if="findGame(62).Team2PenaltiesScore != null && findGame(62).Team2PenaltiesScore >= 0"> ({{findGame(62).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="11" style="border-bottom: black 0px solid; border-left: black 0px solid; border-top: black 2px solid; border-right: black 0px solid" class="Col_L" id="tdCol_L5" ng-if="showSemis == true">
                    &nbsp;
                </td>
                <td colspan="2" rowspan="2" class="PlayoffHeader" id="tdCol_N8" ng-if="show3rdPlace == true">
                    Third place
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 55, showDebugElements, true, "tdCol_B22", "tdCol_C14"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B22" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(55).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(55).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(55).Team1Code}}">{{findGame(55).Team1Name}}</a> {{findGame(55).Team1ResultInformation}}
                        <span ng-if="findGame(55) == null || findGame(55).Team1Code == 0">Winner Group F</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C14" ng-if="show16s == true">
                    <span ng-if="findGame(55).Team1ResultWonGame == true"><b>{{findGame(55).Team1ResultRegulationTimeScore}}<span ng-if="findGame(55).Team1PenaltiesScore != null && findGame(55).Team1PenaltiesScore >= 0"> ({{findGame(55).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(55).Team1ResultWonGame == false">{{findGame(55).Team1ResultRegulationTimeScore}}<span ng-if="findGame(55).Team1PenaltiesScore != null && findGame(55).Team1PenaltiesScore >= 0"> ({{findGame(55).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_F16" ng-if="showQuarters == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">60</span>
                    <span>{{findGame(60).GameTime | date:'d-MMM'}}&nbsp;{{findGame(60).Location}}</span>
                </td>
                <td colspan="2" rowspan="9" class="Col_J" id="tdCol_J11" ng-if="showSemis == true"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_N9" ng-if="show3rdPlace == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">63</span>
                    <span>{{findGame(63).GameTime | date:'d-MMM'}}&nbsp;{{findGame(63).Location}}</span>
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 55, showDebugElements, false, "tdCol_B23", "tdCol_C15"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B23" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(55).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(55).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(55).Team2Code}}">{{findGame(55).Team2Name}}</a> {{findGame(55).Team2ResultInformation}}
                        <span ng-if="findGame(55) == null || findGame(55).Team1Code == 0">Runner Up Group E</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C15" ng-if="show16s == true">
                    <span ng-if="findGame(55).Team2ResultWonGame == true"><b>{{findGame(55).Team2ResultRegulationTimeScore}}<span ng-if="findGame(55).Team2PenaltiesScore != null && findGame(55).Team2PenaltiesScore >= 0"> ({{findGame(55).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(55).Team2ResultWonGame == false">{{findGame(55).Team2ResultRegulationTimeScore}}<span ng-if="findGame(55).Team2PenaltiesScore != null && findGame(55).Team2PenaltiesScore >= 0"> ({{findGame(55).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="6" style="border-bottom: black 1px solid; border-top: black 2px solid; border-right: black 3px solid" class="Col_D" id="tdCol_D10" ng-if="show16s == true">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 60, showDebugElements, true, "tdCol_F17", "tdCol_G8"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_F17" ng-if="showQuarters == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(60).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(60).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(60).Team1Code}}">{{findGame(60).Team1Name}}</a> {{findGame(60).Team1ResultInformation}}
                        <span ng-if="findGame(60) == null || findGame(60).Team1Code == 0">Winner Game 55</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_G8" ng-if="showQuarters == true">
                    <span ng-if="findGame(60).Team1ResultWonGame == true"><b>{{findGame(60).Team1ResultRegulationTimeScore}}<span ng-if="findGame(60).Team1PenaltiesScore != null && findGame(60).Team1PenaltiesScore >= 0"> ({{findGame(60).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(60).Team1ResultWonGame == false">{{findGame(60).Team1ResultRegulationTimeScore}}<span ng-if="findGame(60).Team1PenaltiesScore != null && findGame(60).Team1PenaltiesScore >= 0"> ({{findGame(60).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 63, showDebugElements, true, "tdCol_N10", "tdCol_O4"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_N10" ng-if="show3rdPlace == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(63).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(63).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(63).Team1Code}}">{{findGame(63).Team1Name}}</a> {{findGame(63).Team1ResultInformation}}
                        <span ng-if="findGame(63) == null || findGame(63).Team1Code == 0">Loser Game 61</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_O4" ng-if="show3rdPlace == true">
                    <span ng-if="findGame(63).Team1ResultWonGame == true"><b>{{findGame(63).Team1ResultRegulationTimeScore}}<span ng-if="findGame(63).Team1PenaltiesScore != null && findGame(63).Team1PenaltiesScore >= 0"> ({{findGame(63).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(63).Team1ResultWonGame == false">{{findGame(63).Team1ResultRegulationTimeScore}}<span ng-if="findGame(63).Team1PenaltiesScore != null && findGame(63).Team1PenaltiesScore >= 0"> ({{findGame(63).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="2" class="PlayoffTimeLocation" id="tdCol_B24" ng-if="show16s == true">
                    <span style="color: red; font-weight: bold;" ng-if="showDebugInformation==true">56</span>
                    <span>{{findGame(56).GameTime | date:'d-MMM'}}&nbsp;{{findGame(56).Location}}</span>
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td rowspan="5" style="border-top: black 2px solid;" class="Col_E" id="tdCol_E6" ng-if="show16s == true">
                    &nbsp;
                </td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 60, showDebugElements, false, "tdCol_F18", "tdCol_G9"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_F18" ng-if="showQuarters == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(60).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(60).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(60).Team2Code}}">{{findGame(60).Team2Name}}</a> {{findGame(60).Team2ResultInformation}}
                        <span ng-if="findGame(60) == null || findGame(60).Team1Code == 0">Winner Game 56</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_G9" ng-if="showQuarters == true">
                    <span ng-if="findGame(60).Team2ResultWonGame == true"><b>{{findGame(60).Team2ResultRegulationTimeScore}}<span ng-if="findGame(60).Team2PenaltiesScore != null && findGame(60).Team2PenaltiesScore >= 0"> ({{findGame(60).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(60).Team2ResultWonGame == false">{{findGame(60).Team2ResultRegulationTimeScore}}<span ng-if="findGame(60).Team2PenaltiesScore != null && findGame(60).Team2PenaltiesScore >= 0"> ({{findGame(60).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="5" style="border-top: black 2px solid;" class="Col_H" id="tdCol_H7" ng-if="showQuarters == true">
                    &nbsp;
                </td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 63, showDebugElements, false, "tdCol_N11", "tdCol_O5"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_N11" ng-if="show3rdPlace == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(63).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(63).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(63).Team2Code}}">{{findGame(63).Team2Name}}</a> {{findGame(63).Team2ResultInformation}}
                        <span ng-if="findGame(63) == null || findGame(63).Team1Code == 0">Loser Game 62</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_O5" ng-if="show3rdPlace == true">
                    <span ng-if="findGame(63).Team2ResultWonGame == true"><b>{{findGame(63).Team2ResultRegulationTimeScore}}<span ng-if="findGame(63).Team2PenaltiesScore != null && findGame(63).Team2PenaltiesScore >= 0"> ({{findGame(63).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(63).Team2ResultWonGame == false">{{findGame(63).Team2ResultRegulationTimeScore}}<span ng-if="findGame(63).Team2PenaltiesScore != null && findGame(63).Team2PenaltiesScore >= 0"> ({{findGame(63).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 56, showDebugElements, true, "tdCol_B25", "tdCol_C16"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B25" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(56).Team1FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(56).Team1FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(56).Team1Code}}">{{findGame(56).Team1Name}}</a> {{findGame(56).Team1ResultInformation}}
                        <span ng-if="findGame(56) == null || findGame(56).Team1Code == 0">Winner Group H</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C16" ng-if="show16s == true">
                    <span ng-if="findGame(56).Team1ResultWonGame == true"><b>{{findGame(56).Team1ResultRegulationTimeScore}}<span ng-if="findGame(56).Team1PenaltiesScore != null && findGame(56).Team1PenaltiesScore >= 0"> ({{findGame(56).Team1PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(56).Team1ResultWonGame == false">{{findGame(56).Team1ResultRegulationTimeScore}}<span ng-if="findGame(56).Team1PenaltiesScore != null && findGame(56).Team1PenaltiesScore >= 0"> ({{findGame(56).Team1PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                <td colspan="2" rowspan="3" class="Col_F" id="tdCol_F19" ng-if="showQuarters == true"></td>
                <td colspan="2" rowspan="3" class="Col_N" id="tdCol_N12" ng-if="show3rdPlace == true || showFinals == true"></td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
                @*@Html.Partial("PlayoffPart2Partial", new SamSmithNZ2015.Models.IntFootball.PlayoffPart2ViewModel(Model.GameList, 56, showDebugElements, false, "tdCol_B26", "tdCol_C17"))*@
                <!--Partial2 Start-->
                <td rowspan="2" class="PlayoffTeam" id="tdCol_B26" ng-if="show16s == true">
                    <div>
                        <img ng-src="~/Content/IntFootball/Teams/{{findGame(56).Team2FlagName}}" CssClass="flagicon" width="22" bordercolor="DarkGray" borderstyle="Solid" borderwidth="1px" align="top" ng-if="findGame(56).Team2FlagName != ''" />
                        <a href="/IntFootball/Team?teamCode={{findGame(56).Team2Code}}">{{findGame(56).Team2Name}}</a> {{findGame(56).Team2ResultInformation}}
                        <span ng-if="findGame(56) == null || findGame(56).Team1Code == 0">Runner Up Group G</span>
                    </div>
                </td>
                <td rowspan="2" class="PlayoffScore" id="tdCol_C17" ng-if="show16s == true">
                    <span ng-if="findGame(56).Team2ResultWonGame == true"><b>{{findGame(56).Team2ResultRegulationTimeScore}}<span ng-if="findGame(56).Team2PenaltiesScore != null && findGame(56).Team2PenaltiesScore >= 0"> ({{findGame(56).Team2PenaltiesScore}})</span></b></span>
                    <span ng-if="findGame(56).Team2ResultWonGame == false">{{findGame(56).Team2ResultRegulationTimeScore}}<span ng-if="findGame(56).Team2PenaltiesScore != null && findGame(56).Team2PenaltiesScore >= 0"> ({{findGame(56).Team2PenaltiesScore}})</span></span>
                </td>
                <!--Partial2 End-->
                <td rowspan="2" style="border-top: black 2px solid;" class="Col_D" id="tdCol_D11" ng-if="show16s == true">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td height="5" class="Col_A"></td>
            </tr>
        </table>
        <br />

        @*@Html.Partial("GamePartial", new SamSmithNZ2015.Models.IntFootball.GameViewModel(Model.GameList, false, true, showDebugElements))*@
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th>Game #</th>
                    <th>Game Time</th>
                    <th>Group Name</th>
                    <th></th>
                    <th>Score</th>
                    <th></th>
                    <th>Location</th>
                </tr>
                <tr ng-repeat="item in games" ng-style="{'background-color': getGameRowStyle(item.GameCode)}">
                    <td><div ng-if="item.RowType == 1">{{item.GameNumber}}</div></td>
                    <td><div ng-if="item.RowType == 1">{{item.GameTime | date:'dd-MMM-yyyy'}}</div></td>
                    <td><div ng-if="item.RowType == 1">{{item.RoundName}}</div></td>
                    <td style="text-align: right;">
                        <div ng-if="item.RowType == 1">
                            <a href="/IntFootball/Team?TeamCode={{item.Team1Code}}">{{item.Team1Name}}</a>
                            <img ng-src="~/Content/IntFootball/Teams/{{item.Team1FlagName}}" CssClass="TeamImage" />
                        </div>
                        <div ng-if="item.RowType >= 2">
                            <div ng-if="item.RowType == 2 && item.Team1NormalTimeScore">
                                {{item.Team1Name}} <img ng-src="~/Content/IntFootball/Soccerball_svg.png" CssClass="TeamImage" /> {{item.Team1NormalTimeScore}}'
                            </div>
                            <div ng-if="item.RowType == 3 && item.Team1PenaltiesScore >= 0">
                                {{item.Team1Name}} <img ng-src="~/Content/IntFootball/Soccerball_svg.png" CssClass="TeamImage" ng-if="item.Team1PenaltiesScore == 1" /><img ng-src="~/Content/IntFootball/Soccerball_svg.png" CssClass="TeamImage" ng-if="item.Team1PenaltiesScore == 0" />
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div ng-if="item.Team1NormalTimeScore >= 0 && item.RowType == 1">
                            <span ng-if="item.Team1PenaltiesScore == null">{{item.Team1ResultRegulationTimeScore}} - {{item.Team2ResultRegulationTimeScore}} {{item.Team1ResultInformation}}{{item.Team2ResultInformation}}</span>
                            <div ng-if="item.Team1PenaltiesScore != null && item.Team1PenaltiesScore >= 0">
                                <span>{{item.Team1ResultRegulationTimeScore}} - {{item.Team2ResultRegulationTimeScore}} (aet)</span>
                                <br />
                                {{item.Team1PenaltiesScore}} - {{item.Team2PenaltiesScore}} {{item.Team1ResultInformation}}{{item.Team2ResultInformation}}
                            </div>
                        </div>
                    </td>
                    <td style="text-align: left;">
                        <div ng-if="item.RowType == 1">
                            <img ng-src="~/Content/IntFootball/Teams/{{item.Team2FlagName}}" CssClass="TeamImage" />
                            <a href="/IntFootball/Team?TeamCode={{item.Team2Code}}">{{item.Team2Name}}</a>
                        </div>  <div ng-if="item.RowType >= 2">                            
                            <div ng-if="item.RowType == 2 && item.Team2NormalTimeScore">
                                {{item.Team2Name}} <img ng-src="~/Content/IntFootball/Soccerball_svg.png" CssClass="TeamImage" /> {{item.Team2NormalTimeScore}}'
                            </div>
                            <div ng-if="item.RowType == 3 && item.Team2PenaltiesScore >= 0">
                                {{item.Team2Name}} <img ng-src="~/Content/IntFootball/Soccerball_svg.png" CssClass="TeamImage" ng-if="item.Team2PenaltiesScore == 1" /><img ng-src="~/Content/IntFootball/Soccerball_Miss_svg.png" CssClass="TeamImage" ng-if="item.Team2PenaltiesScore == 0" />
                            </div>
                        </div>
                    </td>
                    <td><div ng-if="item.RowType == 1">{{item.Location}}</div></td>
                </tr>
            </table>
        </div>
    </div>

</div>