@{
    Layout = "~/Views/Shared/_LayoutIntFootball.cshtml";
}

<div ng-controller="teamController">

    <h2><img ng-src="~/Content/IntFootball/Teams/{{team.FlagName}}" Class="TeamImage" /> {{team.TeamName}}</h2>
    <b>Statistics:</b>
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>Games: {{games.length}}</li>
                <li>Expected results: {{gamesExpectedWon + gamesExpectedLoss}} ({{(gamesExpectedWon + gamesExpectedLoss) / (gamesExpectedWon + gamesExpectedLoss + gamesUnexpectedWin + gamesUnexpectedLoss + gamesUnexpectedDraw) * 100 | number : 2}}%)</li>
                <li>Unexpected results: {{gamesUnexpectedWin + gamesUnexpectedLoss + gamesUnexpectedDraw}} ({{(gamesUnexpectedWin + gamesUnexpectedLoss + gamesUnexpectedDraw) / (gamesExpectedWon + gamesExpectedLoss + gamesUnexpectedWin + gamesUnexpectedLoss + gamesUnexpectedDraw) * 100 | number : 2}}%)</li>
                <li>Unknown games: {{gamesUnknown}}</li>
                <li>Record: {{gamesExpectedWon + gamesUnexpectedWin}} Won, {{gamesExpectedLoss + gamesUnexpectedLoss}} Lost, {{gamesUnexpectedDraw}} Drawn<span ng-if="gamesUnknown>0">, {{gamesUnknown}} Unknown</span></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>Expected wins: {{gamesExpectedWon}} ({{(gamesExpectedWon) / (gamesExpectedWon + gamesExpectedLoss + gamesUnexpectedWin + gamesUnexpectedLoss + gamesUnexpectedDraw) * 100 | number : 2}}%)</li>
                <li>Expected losses: {{gamesExpectedLoss}} ({{(gamesExpectedLoss) / (gamesExpectedWon + gamesExpectedLoss + gamesUnexpectedWin + gamesUnexpectedLoss + gamesUnexpectedDraw) * 100 | number : 2}}%)</li>
                <li>Unexpected wins: {{gamesUnexpectedWin}} ({{(gamesUnexpectedWin) / (gamesExpectedWon + gamesExpectedLoss + gamesUnexpectedWin + gamesUnexpectedLoss + gamesUnexpectedDraw) * 100 | number : 2}}%)</li>
                <li>Unexpected losses: {{gamesUnexpectedLoss}} ({{(gamesUnexpectedLoss) / (gamesExpectedWon + gamesExpectedLoss + gamesUnexpectedWin + gamesUnexpectedLoss + gamesUnexpectedDraw) * 100 | number : 2}}%)</li>
                <li>Unexpected draws: {{gamesUnexpectedDraw}} ({{(gamesUnexpectedDraw) / (gamesExpectedWon + gamesExpectedLoss + gamesUnexpectedWin + gamesUnexpectedLoss + gamesUnexpectedDraw) * 100 | number : 2}}%)</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>Wins (1pt for expected, 3 for unexpected): {{(gamesExpectedWon) + (gamesUnexpectedWin*3)}}</li>
                <li>Losses (-1pt for expected, -3 for unexpected): {{(gamesExpectedLoss*-1) + (gamesUnexpectedLoss*-3)}}</li>
                <li>Draws (-1pt if fav, +1pt if underdog): {{gamesUnexpectedDraw}}</li>
                <li>Total: {{(gamesExpectedWon) + (gamesUnexpectedWin*3)+(gamesExpectedLoss*-1) + (gamesUnexpectedLoss*-3)+gamesUnexpectedDraw}}</li>
            </ul>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Tournament</th>
                    @*<th>Game #</th>*@
                    <th>Game Time</th>
                    <th>Round</th>
                    <th>Group Name</th>
                    @*<th>Round</th>*@
                    <th></th>
                    <th>Score</th>
                    <th></th>
                    <th>Odds Analysis</th>
                    <th>Location</th>
                    <th>Coach</th>
                    @*<th>Fifa Ranking</th>*@
                    @*<th>Team 1 chance to win</th>*@
                    @*<th>Team 1 Elo Rating</th>*@
                    @*<th>Team 2 Elo Rating</th>*@
                    @*<th>Team 2 chance to win</th>*@

                    @*<th>{{team.TeamName}} won?</th>*@
                </tr>
                <tr ng-repeat="item in games">
                    <td>{{item.TournamentName}}</td>
                    @*<td>{{item.GameNumber}}</td>*@
                    <td>{{item.GameTime | date:'dd-MMM-yyyy HH:mm'}}</td>
                    <td>{{item.RoundNumber}}</td>
                    <td>{{item.RoundName}}</td>
                    @*<td>{{item.RoundCode}}</td>*@
                    <td style="text-align: right;">
                        <a href="/IntFootball/Team?TeamCode={{item.Team1Code}}">{{item.Team1Name}}</a>
                        <img ng-src="~/Content/IntFootball/Teams/{{item.Team1FlagName}}" Class="TeamImage" />
                        <div style="font-size: 10px; font-weight: bold;">
                            <span ng-if="item.Team1ChanceToWin >= 0">Prob to win: {{item.Team1ChanceToWin | number : 2}}%</span><br />
                            <span ng-if="item.Team1PostGameEloRating == null && item.Team1PreGameEloRating != null">Pregame ELO: {{item.Team1PreGameEloRating}}</span>
                            <span ng-if="item.Team1PostGameEloRating != null">Game ELO: {{item.Team1PreGameEloRating}} -> {{item.Team1PostGameEloRating}} (<span ng-if="item.Team1PostGameEloRating-item.Team1PreGameEloRating >= 0">+</span>{{item.Team1PostGameEloRating-item.Team1PreGameEloRating}})</span>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div ng-if="item.Team1NormalTimeScore >= 0">
                            <span ng-if="!item.Team1PenaltiesScore">{{item.Team1ResultRegulationTimeScore}} - {{item.Team2ResultRegulationTimeScore}} {{item.Team1ResultInformation}}{{item.Team2ResultInformation}}</span>
                            <div ng-if="item.Team1PenaltiesScore && item.Team1PenaltiesScore >= 0">
                                <span>{{item.Team1ResultRegulationTimeScore}} - {{item.Team2ResultRegulationTimeScore}} (aet)</span>
                                <br />
                                {{item.Team1PenaltiesScore}} - {{item.Team2PenaltiesScore}} {{item.Team1ResultInformation}}{{item.Team2ResultInformation}}
                            </div>
                        </div>
                    </td>
                    <td style="text-align: left;">
                        <img ng-src="~/Content/IntFootball/Teams/{{item.Team2FlagName}}" Class="TeamImage" />
                        <a href="/IntFootball/Team?TeamCode={{item.Team2Code}}">{{item.Team2Name}}</a>
                        <div style="font-size: 10px; font-weight: bold;">
                            <span ng-if="item.Team2ChanceToWin >= 0">Prob to win: {{item.Team2ChanceToWin | number : 2}}%</span><br />
                            <span ng-if="item.Team2PostGameEloRating == null && item.Team2PreGameEloRating != null">Pregame ELO: {{item.Team2PreGameEloRating}}</span>
                            <span ng-if="item.Team2PostGameEloRating != null">Game ELO:{{item.Team2PreGameEloRating}} -> {{item.Team2PostGameEloRating}} (<span ng-if="item.Team2PostGameEloRating-item.Team2PreGameEloRating >= 0">+</span>{{item.Team2PostGameEloRating-item.Team2PreGameEloRating}})</span>
                        </div>
                    </td>
                    <td ng-style="{'background-color': getDidFavoriteWinStyle(item.Team1Code, team.TeamCode, item.Team1ChanceToWin, item.Team1ResultWonGame, item.Team2ResultWonGame)}">
                        <div ng-if="item.Team1ChanceToWin>=0">
                            <span ng-if="item.Team1Code == team.TeamCode">{{item.Team1OddsStatusText}}</span>
                            <span ng-if="item.Team2Code == team.TeamCode">{{item.Team2OddsStatusText}}</span>
                        </div>
                    </td>
                    <td>{{item.Location}}</td>
                    <td><img ng-src="~/Content/IntFootball/Teams/{{item.CoachFlag}}" Class="TeamImage" ng-if="item.CoachFlag != ''" />&nbsp;{{item.CoachName}}</td>

                </tr>
            </table>
        </div>
    </div>

</div>
