@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="row DevOpsSecurityPaddings">
        <div class="col-md-6">
            <div class="alert alert-primary Header4ParentDiv" id="DevOpsAlert">
                <a href="@Url.Action("Index", "DevOps")">
                    <h4 class="Header4Style">Sam's DevOps Notes<sup class="Header4Content">BETA</sup></h4>
                </a>
            </div>
        </div>
    </div>
</div>
